.row
  .eight.columns
    .row
      %h5
        Customer Support
      %p
        %a{:href => "mailto:support@dynastyowner.com"}support@dynastyowner.com
      %h5
        Media Inquiries
      %p
        %a{:href => "mailto:media@dynastyowner.com"}media@dynastyowner.com
  .four.columns
    four
