.row.span6.centered
  .panel
    .breadcrumbs
    %h4
      Create  Team
    %p
      Please enter a name for your team.
    %input{:type => "text", :placeholder => "Team Name", :class => "large_input "}
    .row
      .span6
        %a{:href => "/mockups/signup_4", :class => "large blue button nice radius"} Join League
      .span6
        %a{:href => "/mockups/signup_5", :class => "large black button nice radius"} New League

