.row-fluid
  .span8.well.light-well
    / start slipsum code
    :markdown
      # DYNASTY OWNER FAQS


      ##Can I have multiple dynasty owner teams?
      Just like in the NFL, owners can’t own multiple teams for a variety of reasons.
      We limit each person/account to one dynasty owner franchise because Dynasty Owner is a year round in- depth ownership experience that requires a lot more attention than managing a traditional fantasy football team.  We also want to ensure that nobody is managing multiple teams for the sake of just optimizing one.  Like it!

      ##How many teams are allowed per league?  What if we our league wants 10 teams or 14 teams?
      This year (2012-2013 season) we are restricting leagues to 12 teams per league.  This allows us to be fair in the efficiency payout grand prizes for both tiers.   If leagues had different numbers of teams, efficiency wouldn’t be an apples to apples comparison across entire tiers.  Like it!

      ##Why can’t I see weekly updates of efficiency leaders?
      We don’t want to encourage any collusion and above all want owners to run their teams individually and with competitive integrity.  The grand prize is large enough to where if one league saw that one of the teams was in contention for the grand efficiency prize, they might all agree to help that team maximize efficiency and split the grand prize.

      Along those lines, winners of the efficiency grand prize will be thoroughly reviewed to ensure that no collusion was suspected or evident.  I don’t mind mentioning this, but I don’t want to dare people to collude. We mention it already before. Maybe we should just the first part but not the second.

      ##When can I expect to be paid my weekly winnings?
      Weekly winnings will be paid out on Tuesday morning at 6 AM, after all games have been played for the previous week.

      ##When can I expect to be paid my end of season winnings?
      For those playing in the Championship game, you can expect your winning check within 4 weeks of the Championship game.  If you win the GRAND PRIZE, you can expect that within 8 weeks of the Championship game. As you can imagine, with such a large prize, we have to be thorough and make sure we are able to determine the winner.

      ##How does Revenue Sharing Work?
      Revenue sharing is designed to reward longevity in Dynasty Owner.   Accordingly, we will not be paying this is incorrect…we will be paying it out for first year but it won’t be paid out UNTIL the start of the following year.  I wouldn’t even mention why we are doing it.  I don’t want people think we are trying to manipulate/trick them into staying around.  Let’s just say that just like the NFL, revenue share is a lumpsum paid out after all revenues have been calculated.  We intend on including more than just transaction costs into revenue share, so we have to wait until our calendar year is done and the revenue share will be sent to the accounts out revenue share for the first year, however all users who registered and completed the season this year and return next year will be paid at the start of next season for this season’s participation.  In subsequent years teams will be paid their revenue share at the start of the current season.

      Your team must remain active without interruption from season to season to be eligible for revenue sharing.     Here is how revenue sharing pays out.  We have since changed these.  Let’s circle back on the final numbers

        Year 1:  0
        Year 2:  10%
        Year 3:  15%
        Year 4:  20%
        Year 5:  25%
        Year 6:  30%
        Year 7:  35%





      ##What happens if someone gets kicked out of our league for any reason (suspected collusion, continuous non-payment of a team over the salary cap etc).
      After given adequate warnings/communication, if a team needs to be removed from a league for any reason we will notify all owners of that league, suspend that players account and take over that team for the remainder of the season to ensure proper balance and minimal disruption of the league.  We will run the team as we would competitively run our own teams.

      Integrity of our game and league play is essential to us and we will ensure that it is never compromised.

      ##Can I edit our leagues scoring system?
      No, we use a universal scoring system because this allows us to pay out an efficiency grand prize across all leagues.  If different leagues had different scoring systems, this would not be possible  love it

      ##Is there a commissioner in each league?
      No, we do not have a league commissioner assigned in each league because one is not needed.  League settings are all the same across leagues and the trade review process is a league democracy decided by votes.  good

      ##How are trades reviewed?
      Each trade will be reviewed by the teams not involved in the trade to prevent collusion.  If there is a tie in the voting (5-5) the Dynasty Owner review board will rule on if the trade.  We will not prevent trades unless there is obvious collusion.  Andrew and I made it 7 votes needed and they will be charged and then we can review or just make it an automatic rejected trade.  I am open to discussing if it’s automatically rejected or we review it.  With how many times Andrew said trades are contested, it may become cumbersome.

      ##Can there be multiple team trades?
      This year we are only supporting two team trades.  You can trade players for players, players for cap space, players for draft picks or any combination of that, but you can’t do 3+ team trades at this time.  Take out this entire part. It isn’t essential and it doesn’t answer the question.  It just explains what you can trade.  The answer is a direct: Not at this time.  We encourage people to work as creatively as possible within the messaging and league message board to get the best possible trade scenario completed.

      This is a feature we hope to support in coming seasons of Dyansty Owner.

      ##Is this game as awesome as it sounds?
      Yes.

      ##What is the payout annuity and how does it work?
      If you are one of the two teams to play in the dynasty bowl championship game at the end of the year, you will receive a payout that year and for an additional six years for a total of a 7 year payout.   Don’t forget most efficient team gets a payout.  Also, so not to confuse anyone, just say there will be 7 payments made.  We will maket he first annuity payment the year after they win the championship.

      Like when NFL teams reach the Superbowl, there is a long lasting effect on the value of the franchise and we wanted to provide the same element in Dynasty Owner.

      ##What are the penalties for exceeding the salary cap?
      We deviate from the NFL on this in that the NFL has a hard cap where no one can go over that.  We have the same thing, but we have a salary cap that is set below the hard cap and every dollar above the salary cap and up to the hard cap will have a dollar-for-dollar tax applied.  This is the “luxury tax” and it will go towards the Luxury Tax Pot which will be distributed amongst the owners in your league that do not pay any luxury tax and with the Fed

      ##Is there a hard salary cap?
      Yes.  Maybe instead of this question we should ask about the salary cap situation and explain the minimum and hard cap.

      ##What are the transaction fees?  How much does it cost to trade and pick up a player off of waivers?

      Transaction fees are fees that are paid by our team owners as they complete transactions such as trades, adding and dropping players to the waiver wire, etc…These transactions costs are split between the Fed (we need a new name) and the league revenue share pot.

      To trade players or draft picks, the fee is 5% of the TOTAL remaining value of the contract or potential contract (if a draft pick) for whatever you are sending away. So, if you are sending away $5MM in cash plus a player with 3 years and $30MM left on their contract, your fee will be $1.75MM.



  .span4
    .well.light-well
      %h2.simple FAQ Categories
      %p TBD After FAQs edited and organized.
