.row
  .span8
    %h5 Headline Item
    %p
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.

    .accordion
      %section#one
        %h2
          %a{:href => "#one"}March 9th 2012: News Item 1
        %div
          %p
            %img{:src => "/assets/waterboy.png"}
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.
      %section#two
        %h2
          %a{:href => "#two"}March 9th 2012: News Item 2
        %div
          %p
            %img{:src => "/assets/waterboy.png"}
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.
      %section#three
        %h2
          %a{:href => "#three"}March 9th 2012: News Item 3
        %div
          %p
            %img{:src => "/assets/waterboy.png"}
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.
      %section#four
        %h2
          %a{:href => "#four"}March 9th 2012: News Item 4
        %div
          %p
            %img{:src => "/assets/waterboy.png"}
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.
      %section#five
        %h2
          %a{:href => "#five"}March 9th 2012: News Item 5
        %div
          %p
            %img{:src => "/assets/waterboy.png"}
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.
      %section#six
        %h2
          %a{:href => "#six"}March 9th 2012: News Item 6
        %div
          %p
            %img{:src => "/assets/waterboy.png"}
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.
      %section#seven
        %h2
          %a{:href => "#seven"}March 9th 2012: News Item 7
        %div
          %p
            %img{:src => "/assets/waterboy.png"}
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.
      %section#eight
        %h2
          %a{:href => "#eight"}March 9th 2012: News Item 8
        %div
          %p
            %img{:src => "/assets/waterboy.png"}
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.
  = render :partial => "shared/news_sidebar"
