- content_for :title, "League Review"
.tabbable
  %ul.nav.nav-tabs
    %li.active
      %a{:href => "#tab1", :data => {:toggle => "tab"}} Commissioner Notes
    %li
      %a{:href => "#tab2", :data => {:toggle => "tab"}} Discussion Board
    %li
      %a{:href => "#tab3", :data => {:toggle => "tab"}} Team Standings
  .tab-content
    .tab-pane.active#tab1
      %h4
        Comissioner Notes
      .row
        .span6
          %h5
            Thread Name
          %h6
            Entry1
          %p
            Entry text. Entry text. Entry Text. Entry Text. Entry text. Entry text. Entry Text. Entry Text. Entry text. Entry text. Entry Text. Entry Text.
          %h6
            Entry2
          %p
            Entry text. Entry text. Entry Text. Entry Text. Entry text. Entry text. Entry Text. Entry Text. Entry text. Entry text. Entry Text. Entry Text.
    .tab-pane#tab2
      %h4
        SmackTalk Board
      %h6
        Entry1
      %p
        Entry text. Entry text. Entry Text.
      %h6
        Entry2
      %p
        Entry text. Entry text. Entry Text.
      %h6
        Entry3
      %p
        Entry text. Entry text. Entry Text.

    .tab-pane#tab3
      %h4
        Team Standings