.row
  .eight.columns
    = render :partial => "mockups/partials/player_search_control"
    .span{"data-id" => ""}
      = render :partial => "mockups/partials/player_search_results"
  = render :partial => "mockups/partials/news_sidebar"

