.row
  .eight.columns
    = render :partial => "shared/player_search_control"
    .span{"data-id" => ""}
      = render :partial => "shared/player_search_results"
  = render :partial => "shared/news_sidebar"

