.row
  .eight.columns#player_detail
    .row
      .two.columns
        %img{:src => "../assets/headshot.png"}
      .four.columns
        %h5
          Player Name
        %p
          \#10 QB
          %a New York Giants
          %p.stats_small
            %strong
              Height:
            6-4
            %strong
              Weight:
            218
            %strong
              Age:
            31
            %br
            %strong
              Born:
            1/3/1981 New Orleans, LA
            %br
            %strong
              College:
            Mississippi
            %br
            %strong
              Experience:
            8th Season
            %br
            %strong
              High School:
            St. Ignatius HS
      .six.columns
        %p
          %table
            %thead
              %tr
                %td
                  TDS
                %td
                  INT
                %td
                  YDS
                %td
                  RTG
                %td
                  Contract Info
                %td
                  $DD / Pt.
            %tbody
              %tr
                %td
                  29
                %td
                  16
                %td
                  4,933
                %td
                  92.9
                %td
                  $55MM / 6 years
                %td
                  XXX.XX
            %thead
              %tr
                %td{:colspan => "2"}
                  Contract Start
                %td{:colspan => "2"}
                  Contract Finish
                %td{:colspan => "2"}
                  Guaranteed $
              %tbody
                %td{:colspan => "2"}
                  2008
                %td{:colspan => "2"}
                  2014
                %td{:colspan => "2"}
                  $25MM


    .row
      %dl.simple.tabs
        %dd
          %a{:href => "#nice1", :class => "active"}
            Profile
        %dd
          %a{:href => "#nice2"}
            Career Stats
        %dd
          %a{:href => "#nice3"}
            Game Logs
        %dd
          %a{:href => "#nice4"}
            Game Splits
        %dd
          %a{:href => "#nice5"}
            Situational Stats
        %dd
          %A{:href => "#nice6"}
            Injury History
  = render :partial => "mockups/partials/news_sidebar"




















