.container
  .row
    .span8
      .row
        %h5
          Our User Data Policy
        %p
          Mustache vinyl craft beer kale chips, nulla eu next level occaecat iphone occupy pour-over reprehenderit put a bird on it. Put a bird on it letterpress fingerstache, stumptown cupidatat pork belly nulla direct trade officia street art freegan kogi nihil. Skateboard iphone bespoke, dolore sunt nisi wes anderson consequat scenester laboris. Adipisicing synth DIY, salvia keytar letterpress retro stumptown jean shorts food truck fanny pack accusamus. Duis direct trade reprehenderit polaroid, put a bird on it consectetur sed eiusmod small batch. Ethical adipisicing lo-fi cred. Umami aute delectus ut magna.
        %p
          Aliquip next level williamsburg pitchfork gluten-free. Austin fixie labore polaroid, laborum pinterest semiotics narwhal eu american apparel eiusmod officia. Next level quinoa commodo pour-over, aesthetic cillum gentrify leggings irony flexitarian. Helvetica id cray master cleanse, artisan occupy duis beard banh mi. Biodiesel aliqua authentic fingerstache. Keytar irure typewriter, odio next level thundercats cred. Mcsweeney's quinoa pariatur, stumptown dolor brooklyn ut.
        %h5
          3rd Party Policies & Advertisers
        %p
          Banksy 8-bit accusamus odd future farm-to-table aute, sunt aliquip eu iphone cred excepteur placeat street art minim. Raw denim exercitation 3 wolf moon, lo-fi voluptate cred portland irure do godard placeat. Sunt before they sold out ethnic VHS, thundercats farm-to-table fanny pack swag aliquip tempor id mustache dolor mlkshk. Accusamus next level gastropub, seitan laborum mlkshk sartorial semiotics commodo. Retro cray truffaut, aliquip portland wes anderson squid beard anim american apparel reprehenderit sapiente artisan sint non. Mustache anim dolore fixie pinterest. Sunt voluptate ex tofu pop-up godard.
        %p
          Art party pickled +1, vinyl terry richardson aute pour-over ethical quinoa. Anim thundercats quis, truffaut farm-to-table messenger bag tofu dolor sustainable artisan. Biodiesel ea gentrify, incididunt portland hella organic pork belly. Excepteur ethical food truck vero, esse brunch ullamco. Banksy next level synth, mlkshk forage small batch elit velit accusamus veniam biodiesel. Godard quinoa hoodie fap. Keytar consequat in, tattooed biodiesel nihil assumenda fingerstache four loko direct trade vegan brunch mlkshk culpa.
    .span4
      .panel
        Navigational elements for privacy policies can go here.
