.row.span6.centered
  .panel
    .breadcrumbs
    %h4
      Choose League
    %p
      Choose an Open League:
    %select#LeagueSelect.large
      %option
        Open League 1
      %option
        Open League 2
      %option
        Open League 3
    %p
      or Enter information to access a Private League
      %input{:type => "text", :placeholder => "League Name", :class => "large_input"}
      %input{:type => "text", :placeholder => "League Password", :class => "large_input ="}


    .row
      .span6
        %a{:href => "/mockups/league_review", :class => "large blue button nice radius"} Join League

