.row.span6.centered
  .panel
    .breadcrumbs
    %h4
      Create A New League
      %input{:type => "text", :placeholder => "League Name", :class => "large_input"}
      %input{:type => "text", :placeholder => "League Password", :class => "large_input"}
    %h4
      Select Box Here: Choose Draft Date & Time
      %br
      (note: any time in august)
    %h4
      Invite Friends to League
      %input{:type => "text", :placeholder => "Email 1", :class => "large_input"}
      %input{:type => "text", :placeholder => "Email 2", :class => "large_input"}
      %input{:type => "text", :placeholder => "Email 3", :class => "large_input"}
      %input{:type => "text", :placeholder => "Email 4", :class => "large_input"}
      %input{:type => "text", :placeholder => "Email 5", :class => "large_input"}
      %input{:type => "text", :placeholder => "Email 6", :class => "large_input"}
      %input{:type => "text", :placeholder => "Email 7", :class => "large_input"}
      %input{:type => "text", :placeholder => "Email 8", :class => "large_input"}
      %input{:type => "text", :placeholder => "Email 9", :class => "large_input"}
      %input{:type => "text", :placeholder => "Email 10", :class => "large_input"}
      %input{:type => "text", :placeholder => "Email 11", :class => "large_input"}
      %input{:type => "text", :placeholder => "Email 12", :class => "large_input"}
      %input{:type => "text", :placeholder => "Email 13", :class => "large_input"}
      %input{:type => "text", :placeholder => "Email 14", :class => "large_input"}
      %input{:type => "text", :placeholder => "Email 15", :class => "large_input"}


    .row
      .span12
        %a{:href => "/mockups/league_review", :class => "large blue button nice radius"} Finish Creating League

