.row.six.columns.centered
  .panel
    .breadcrumbs
    %p  Getting Started
    %h4
      Sign Up for an Account
    %p
      A short message here explaining the signup process.
    %input{:type => "text", :placeholder => "User Name", :class => "large_input "}
    %input{:type => "text", :placeholder => "Email Address", :class => "large_input"}
    %input{:type => "password", :placeholder => "Password", :class => "large_input"}
    %input{:type => "password", :placeholder => "Confirm Password", :class => "large_input"}
    %input{:type => "text", :placeholder => "User Name", :class => "large_input "}
    %input{:type => "text", :placeholder => "Email Address", :class => "large_input"}
    %input{:type => "password", :placeholder => "Password", :class => "large_input"}
    %input{:type => "password", :placeholder => "Confirm Password", :class => "large_input"}
    %a{:href => "/mockups/signup_2", :class => "large blue button nice radius"} Next Step
