.row.six.columns.centered
  .panel
    .breadcrumbs
      Getting Started > Contact & Billing Information
      %h4
        Contact Information
      %input{:type => "text", :placeholder => "Full Name", :class => "large_input "}
      %input{:type => "text", :placeholder => "Street Address 1", :class => "large_input"}
      %input{:type => "text", :placeholder => "Street Address 2", :class => "large_input"}
      %input{:type => "text", :placeholder => "City", :class => "large_input"}
      %input{:type => "text", :placeholder => "State", :class => "large_input "}
      %input{:type => "text", :placeholder => "Zip Code", :class => "large_input"}
      %input{:type => "text", :placeholder => "Phone", :class => "large_input"}


      %h4
        Billing Information
      %p
        Same as contact?
        %input{:type => "checkbox"}
      %input{:type => "text", :placeholder => "Full Name", :class => "large_input "}
      %input{:type => "text", :placeholder => "Street Address 1", :class => "large_input"}
      %input{:type => "text", :placeholder => "Street Address 2", :class => "large_input"}
      %input{:type => "text", :placeholder => "City", :class => "large_input"}
      %input{:type => "text", :placeholder => "State", :class => "large_input "}
      %input{:type => "text", :placeholder => "Zip Code", :class => "large_input"}
      %input{:type => "text", :placeholder => "Phone", :class => "large_input"}

      %h4
        Payment Method
      %a{:href => "#", :class => "medium white button nice radius"} Visa
      %a{:href => "#", :class => "medium white button nice radius"} Mastercard
      %a{:href => "#", :class => "medium white button nice radius"} Discover
      %input{:type => "select", :placeholder => "Account Number", :class => "large_input"}
      %input{:type => "select", :placeholder => "Expiration Date", :class => "large_input"}
      %input{:type => "select", :placeholder => "3-digit Security Code", :class => "large_input"}


      %a{:href => "/mockups/signup_3", :class => "large blue button nice radius"} Next Step
