.row.six.columns.centered
  .panel
    .breadcrumbs
      Getting Started > Contact & Billing Information > Account Verification
      %h4
        Account Verification
      %p
        We have sent an email to
        %strong
          YourEmail@Domain.com
        that contains a verification link. You must click this link to complete your account verification.




      %a{:href => "/mockups/signup_3", :class => "large blue button nice radius"} Resend
      %a{:href => "/mockups/create_team", :class => "large black button nice radius"} Create Team
