.row
  .ten.columns.centered
    %a.button.large.blue.nice.radius{'data-reveal-id' => 'sellTeamModal'}
      Sell Your Team
    %a.button.large.blue.nice.radius{:href => '/payments/purchase_dynasty_dollars'}
      Purchase Dynasty Dollars
    %a.button.large.blue.nice.radius.disabled (Sell Dynasty Dollars)
    %br
    %br
.row
  .nine.columns.centered
    .panel
      %dl.tabs
        %dd
          %a{:href => "#standard"} Standard Leagues
        %dd
          %a{:href => "#silver"} Silver Leagues
        %dd
          %a{:href => '#gold'} Gold Leagues
        %dd
          %a{:href => '#platinum'} Platinum Leagues
      %ul.tabs-content
        %li#standardTab
          %h4
            Standard Leagues
          %table
            %thead
              %tr
                %th
                  Team Name
                %th
                  League Name
                %th
                  League Size
                %th
                  League Age
                %th
                  Team Ranking
                %th
                  Offer Price
                %th
            %tbody
              %tr.strong
                %td
                  %strong
                    Premium Team 1
                %td
                  %strong
                    League Name
                %td
                  %strong
                    16
                %td
                  %strong
                    2 Seasons
                %td
                  %strong
                    7
                %td
                  %strong
                    $250.00
                %td
                  %strong
                    %a{'data-reveal-id' => 'makeOfferModal'} Make An Offer
              %tr.strong
                %td
                  %strong
                    Premium Team 2
                %td
                  %strong
                    League Name 2
                %td
                  %strong
                    16
                %td
                  %strong
                    5 Seasons
                %td
                  %strong
                    3
                %td
                  %strong
                    $475.00
                %td
                  %strong
                    %a{'data-reveal-id' => 'makeOfferModal'} Make An Offer
              %tr.strong
                %td
                  %strong
                    Premium Team 3
                %td
                  %strong
                    League Name 3
                %td
                  %strong
                    12
                %td
                  %strong
                    1 Season
                %td
                  %strong
                    12
                %td
                  %strong
                    $85.00
                %td
                  %strong
                    %a{'data-reveal-id' => 'makeOfferModal'} Make An Offer
              %tr.strong
                %td
                  Standard Team 1
                %td
                  League Name 4
                %td
                  16
                %td
                  2 Seasons
                %td
                  %strong
                    7
                %td
                  $250.00
                %td
                  %a{'data-reveal-id' => 'makeOfferModal'} Make An Offer
              %tr.strong
                %td
                  Standard Team 2
                %td
                  League Name 5
                %td
                  16
                %td
                  2 Seasons
                %td
                  7
                %td
                  $250.00
                %td
                  %a{'data-reveal-id' => 'makeOfferModal'} Make An Offer
              %tr.strong
                %td
                  Standard Team 3
                %td
                  League Name 6
                %td
                  16
                %td
                  2 Seasons
                %td
                  7
                %td
                  $250.00
                %td
                  %a{'data-reveal-id' => 'makeOfferModal'} Make An Offer
              %tr.strong
                %td
                  Standard Team 4
                %td
                  League Name 7
                %td
                  16
                %td
                  2 Seasons
                %td
                  7
                %td
                  $250.00
                %td
                  %a{'data-reveal-id' => 'makeOfferModal'} Make An Offer
              %tr.strong
                %td
                  Standard Team 5
                %td
                  League Name 8
                %td
                  16
                %td
                  2 Seasons
                %td
                  7
                %td
                  $250.00
                %td
                  %a{'data-reveal-id' => 'makeOfferModal'} Make An Offer
              %tr.strong
                %td
                  Standard Team 6
                %td
                  League Name 9
                %td
                  16
                %td
                  2 Seasons
                %td
                  7
                %td
                  $250.00
                %td
                  %a{'data-reveal-id' => 'makeOfferModal'} Make An Offer
              %tr.strong
                %td
                  Standard Team 7
                %td
                  League Name 10
                %td
                  16
                %td
                  2 Seasons
                %td
                  7
                %td
                  $250.00
                %td
                  %a{'data-reveal-id' => 'makeOfferModal'} Make An Offer
              %tr.strong
                %td
                  Standard Team 8
                %td
                  League Name 11
                %td
                  16
                %td
                  2 Seasons
                %td
                  7
                %td
                  $250.00
                %td
                  %a{'data-reveal-id' => 'makeOfferModal'} Make An Offer
              %tr.strong
                %td
                  Standard Team 9
                %td
                  League Name 12
                %td
                  16
                %td
                  2 Seasons
                %td
                  7
                %td
                  $250.00
                %td
                  %a{'data-reveal-id' => 'makeOfferModal'} Make An Offer
              %tr.strong
                %td
                  Standard Team 10
                %td
                  League Name 13
                %td
                  16
                %td
                  2 Seasons
                %td
                  7
                %td
                  $250.00
                %td
                  %a{'data-reveal-id' => 'makeOfferModal'} Make An Offer
              %tr.strong
                %td
                  Standard Team 11
                %td
                  League Name 14
                %td
                  16
                %td
                  2 Seasons
                %td
                  7
                %td
                  $250.00
                %td
                  %a{'data-reveal-id' => 'makeOfferModal'} Make An Offer
              %tr.strong
                %td
                  Standard Team 12
                %td
                  League Name 15
                %td
                  16
                %td
                  2 Seasons
                %td
                  7
                %td
                  $250.00
                %td
                  %a{'data-reveal-id' => 'makeOfferModal'} Make An Offer
                %tr.strong
                  %td
                    Standard Team 13
                  %td
                    League Name 16
                  %td
                    16
                  %td
                    2 Seasons
                  %td
                    7
                  %td
                    $250.00
                  %td
                    %a{'data-reveal-id' => 'makeOfferModal'} Make An Offer
                %tr.strong
                  %td
                    Standard Team 14
                  %td
                    League Name 17
                  %td
                    16
                  %td
                    2 Seasons
                  %td
                    7
                  %td
                    $250.00
                  %td
                    %a{'data-reveal-id' => 'makeOfferModal'} Make An Offer
                %tr.strong
                  %td
                    Standard Team 15
                  %td
                    League Name 18
                  %td
                    16
                  %td
                    2 Seasons
                  %td
                    7
                  %td
                    $250.00
                  %td
                    %a{'data-reveal-id' => 'makeOfferModal'} Make An Offer
                %tr.strong
                  %td
                    Standard Team 16
                  %td
                    League Name 19
                  %td
                    16
                  %td
                    2 Seasons
                  %td
                    7
                  %td
                    $250.00
                  %td
                    %a{'data-reveal-id' => 'makeOfferModal'} Make An Offer
                %tr.strong
                  %td
                    Standard Team 17
                  %td
                    League Name 20
                  %td
                    16
                  %td
                    2 Seasons
                  %td
                    7
                  %td
                    $250.00
                  %td
                    %a{'data-reveal-id' => 'makeOfferModal'} Make An Offer
        %li#silverTab
          %h4
            Silver Leagues
          %table
            %thead
              %tr
                %th
                  Team Name
                %th
                  League Name
                %th
                  League Size
                %th
                  League Age
                %th
                  Team Ranking
                %th
                  Offer Price
                %th
            %tbody
              %tr.strong
                %td
                  %strong
                    Premium Team 1
                %td
                  %strong
                    Silver League Name
                %td
                  %strong
                    16
                %td
                  %strong
                    2 Seasons
                %td
                  %strong
                    7
                %td
                  %strong
                    $500.00
                %td
                  %strong
                    %a{'data-reveal-id' => 'makeOfferModal'} Make An Offer
              %tr.strong
                %td
                  %strong
                    Premium Team 2
                %td
                  %strong
                    Silver League Name 2
                %td
                  %strong
                    16
                %td
                  %strong
                    5 Seasons
                %td
                  %strong
                    3
                %td
                  %strong
                    $900.00
                %td
                  %strong
                    %a{'data-reveal-id' => 'makeOfferModal'} Make An Offer
              %tr.strong
                %td
                  %strong
                    Premium Team 3
                %td
                  %strong
                    Silver League Name 3
                %td
                  %strong
                    12
                %td
                  %strong
                    1 Season
                %td
                  %strong
                    12
                %td
                  %strong
                    $175.00
                %td
                  %strong
                    %a{'data-reveal-id' => 'makeOfferModal'} Make An Offer
              %tr.strong
                %td
                  Standard Team 1
                %td
                  Silver League Name 4
                %td
                  16
                %td
                  2 Seasons
                %td
                  %strong
                    7
                %td
                  $250.00
                %td
                  %a{'data-reveal-id' => 'makeOfferModal'} Make An Offer
              %tr.strong
                %td
                  Standard Team 2
                %td
                  Silver League Name 5
                %td
                  16
                %td
                  2 Seasons
                %td
                  7
                %td
                  $500.00
                %td
                  %a{'data-reveal-id' => 'makeOfferModal'} Make An Offer
              %tr.strong
                %td
                  Standard Team 3
                %td
                  Silver League Name 4
                %td
                  16
                %td
                  2 Seasons
                %td
                  7
                %td
                  $500.00
                %td
                  %a{'data-reveal-id' => 'makeOfferModal'} Make An Offer
              %tr.strong
                %td
                  Standard Team 4
                %td
                  Silver League Name 5
                %td
                  16
                %td
                  2 Seasons
                %td
                  7
                %td
                  $500.00
                %td
                  %a{'data-reveal-id' => 'makeOfferModal'} Make An Offer
        %li#goldTab
          %h4
            Gold Leagues
          %table
            %thead
              %tr
                %th
                  Team Name
                %th
                  League Name
                %th
                  League Size
                %th
                  League Age
                %th
                  Team Ranking
                %th
                  Offer Price
                %th
            %tbody
              %tr.strong
                %td
                  %strong
                    Premium Team 1
                %td
                  %strong
                    Gold League Name
                %td
                  %strong
                    16
                %td
                  %strong
                    2 Seasons
                %td
                  %strong
                    7
                %td
                  %strong
                    $750.00
                %td
                  %strong
                    %a{'data-reveal-id' => 'makeOfferModal'} Make An Offer
              %tr.strong
                %td
                  %strong
                    Premium Team 2
                %td
                  %strong
                    Gold League Name 2
                %td
                  %strong
                    16
                %td
                  %strong
                    5 Seasons
                %td
                  %strong
                    3
                %td
                  %strong
                    $925.00
                %td
                  %strong
                    %a{'data-reveal-id' => 'makeOfferModal'} Make An Offer
              %tr.strong
                %td
                  %strong
                    Premium Team 3
                %td
                  %strong
                    Gold League Name 3
                %td
                  %strong
                    12
                %td
                  %strong
                    1 Season
                %td
                  %strong
                    12
                %td
                  %strong
                    $805.00
                %td
                  %strong
                    %a{'data-reveal-id' => 'makeOfferModal'} Make An Offer
              %tr.strong
                %td
                  Standard Team 1
                %td
                  Gold League Name 4
                %td
                  16
                %td
                  2 Seasons
                %td
                  %strong
                    7
                %td
                  $755.00
                %td
                  %a{'data-reveal-id' => 'makeOfferModal'} Make An Offer
              %tr.strong
                %td
                  Standard Team 2
                %td
                  Gold League Name 5
                %td
                  16
                %td
                  2 Seasons
                %td
                  7
                %td
                  $755.00
                %td
                  %a{'data-reveal-id' => 'makeOfferModal'} Make An Offer
              %tr.strong
                %td
                  Standard Team 3
                %td
                  Gold League Name 4
                %td
                  16
                %td
                  2 Seasons
                %td
                  7
                %td
                  $250.00
                %td
                  %a{'data-reveal-id' => 'makeOfferModal'} Make An Offer
              %tr.strong
                %td
                  Standard Team 4
                %td
                  League Name 5
                %td
                  16
                %td
                  2 Seasons
                %td
                  7
                %td
                  $755.00
                %td
                  %a{'data-reveal-id' => 'makeOfferModal'} Make An Offer
        %li#platinumTab
          %h4
            Platinum Leagues
          %table
            %thead
              %tr
                %th
                  Team Name
                %th
                  League Name
                %th
                  League Size
                %th
                  League Age
                %th
                  Team Ranking
                %th
                  Offer Price
                %th
            %tbody
              %tr.strong
                %td
                  %strong
                    Premium Team 1
                %td
                  %strong
                    Platinum League Name
                %td
                  %strong
                    16
                %td
                  %strong
                    2 Seasons
                %td
                  %strong
                    7
                %td
                  %strong
                    $2,500.00
                %td
                  %strong
                    %a{'data-reveal-id' => 'makeOfferModal'} Make An Offer
              %tr.strong
                %td
                  %strong
                    Premium Team 2
                %td
                  %strong
                    Platinum League Name 2
                %td
                  %strong
                    16
                %td
                  %strong
                    5 Seasons
                %td
                  %strong
                    3
                %td
                  %strong
                    $4,750.00
                %td
                  %strong
                    %a{'data-reveal-id' => 'makeOfferModal'} Make An Offer
              %tr.strong
                %td
                  %strong
                    Premium Team 3
                %td
                  %strong
                    Platinum League Name 3
                %td
                  %strong
                    12
                %td
                  %strong
                    1 Season
                %td
                  %strong
                    12
                %td
                  %strong
                    $850.00
                %td
                  %strong
                    %a{'data-reveal-id' => 'makeOfferModal'} Make An Offer
              %tr.strong
                %td
                  Standard Team 1
                %td
                  Platinum League Name 4
                %td
                  16
                %td
                  2 Seasons
                %td
                  %strong
                    7
                %td
                  $2,500.00
                %td
                  %a{'data-reveal-id' => 'makeOfferModal'} Make An Offer
              %tr.strong
                %td
                  Standard Team 2
                %td
                  Platinum League Name 5
                %td
                  16
                %td
                  2 Seasons
                %td
                  7
                %td
                  $2,500.00
                %td
                  %a{'data-reveal-id' => 'makeOfferModal'} Make An Offer
              %tr.strong
                %td
                  Standard Team 3
                %td
                  Platinum League Name 4
                %td
                  16
                %td
                  2 Seasons
                %td
                  7
                %td
                  $2,500.00
                %td
                  %a{'data-reveal-id' => 'makeOfferModal'} Make An Offer
              %tr.strong
                %td
                  Standard Team 4
                %td
                  Platinum League Name 5
                %td
                  16
                %td
                  2 Seasons
                %td
                  7
                %td
                  $2,500.00
                %td
                  %a{'data-reveal-id' => 'makeOfferModal'} Make An Offer

#makeOfferModal.reveal-modal
  .row
    %a.button.small.black.nice.radius.close-reveal-modal X
    .twelve.columns.centered
      %h4
        Make an Offer
      %p
        %input#offer.large_input{:type => 'text', :placeholder => 'Offer Price'}
      %p
        %a.button.large.blue.nice.radius{:href=>'/mockups/confirm_team_purchase'}
          Submit


#sellTeamModal.reveal-modal
  .row
    %a.button.small.black.nice.radius.close-reveal-modal X
    .twelve.columns.centered
      %h4
        Sell Your Team
      %p
        %input#offer.large_input{:type => 'text', :placeholder => 'Offer Price'}
      %p
        %a.button.large.blue.nice.radius
          Premium Listing: $4.95
      %p
        Premium listings will appear at the top of all teams offered for sale.
      %p
        %a.button.large.blue.nice.radius
          Standard Listing: Free

