.row
  .eight.columns
    = render :partial => "shared/player_search_control"
    %table#myTable.tasblesorter
      %thead
        %tr
          %td
            Player
          %td
            Position
          %td
            Contract Terms
          %td
            Date
      %tbody
        %tr
          %td LastName, FirstName
          %td PositionName
          %td.left_align Signed a four-year, $2.510 million contract.
          %td.left_align 7/9/2011
        %tr
          %td LastName, FirstName
          %td PositionName
          %td.left_align Signed a four-year, $2.510 million contract.
          %td.left_align 7/9/2011
        %tr
          %td LastName, FirstName
          %td PositionName
          %td.left_align Signed a four-year, $2.510 million contract.
          %td.left_align 7/9/2011
        %tr
          %td LastName, FirstName
          %td PositionName
          %td.left_align Signed a four-year, $2.510 million contract.
          %td.left_align 7/9/2011
        %tr
          %td LastName, FirstName
          %td PositionName
          %td.left_align Signed a four-year, $2.510 million contract.
          %td.left_align 7/9/2011
        %tr
          %td LastName, FirstName
          %td PositionName
          %td.left_align Signed a four-year, $2.510 million contract.
          %td.left_align 7/9/2011
        %tr
          %td LastName, FirstName
          %td PositionName
          %td.left_align Signed a four-year, $2.510 million contract.
          %td.left_align 7/9/2011
        %tr
          %td LastName, FirstName
          %td PositionName
          %td.left_align Signed a four-year, $2.510 million contract.
          %td.left_align 7/9/2011
        %tr
          %td LastName, FirstName
          %td PositionName
          %td.left_align Signed a four-year, $2.510 million contract.
          %td.left_align 7/9/2011
        %tr
          %td LastName, FirstName
          %td PositionName
          %td.left_align Signed a four-year, $2.510 million contract.
          %td.left_align 7/9/2011
        %tr
          %td LastName, FirstName
          %td PositionName
          %td.left_align Signed a four-year, $2.510 million contract.
          %td.left_align 7/9/2011
        %tr
          %td LastName, FirstName
          %td PositionName
          %td.left_align Signed a four-year, $2.510 million contract.
          %td.left_align 7/9/2011
  .span4
    %h5 Latest NFL Transactions
    %p
      Transactions for Wednesday, March 7, 2012
    .accordion
      %section#one
        %h2
          %a{:href => "#one"}Player A  traded to Team B
        %div
          %p
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.
      %section#two
        %h2
          %a{:href => "#two"}Player B traded to Team A
        %div
          %p
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.
      %section#three
        %h2
          %a{:href => "#three"}Team A drops Players C, D
        %div
          %p
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.
      %section#four
        %h2
          %a{:href => "#four"}Team D Picks up Player X
        %div
          %p
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.


