.row
  .eight.columns
    = render :partial => "mockups/partials/player_search_control"
    %table
      %thead
        %tr
          %td
            Player
          %td
            Position
          %td
            Contract Terms
      %tbody
        %tr
          %td LastName, FirstName
          %td PositionName
          %td.left_align  7/29/2011: Signed a four-year, $2.510 million contract.
        %tr
          %td LastName, FirstName
          %td PositionName
          %td.left_align  7/29/2011: Signed a four-year, $2.510 million contract.
        %tr
          %td LastName, FirstName
          %td PositionName
          %td.left_align  7/29/2011: Signed a four-year, $2.510 million contract.
        %tr
          %td LastName, FirstName
          %td PositionName
          %td.left_align  7/29/2011: Signed a four-year, $2.510 million contract.
        %tr
          %td LastName, FirstName
          %td PositionName
          %td.left_align  7/29/2011: Signed a four-year, $2.510 million contract.
        %tr
          %td LastName, FirstName
          %td PositionName
          %td.left_align  7/29/2011: Signed a four-year, $2.510 million contract.
        %tr
          %td LastName, FirstName
          %td PositionName
          %td.left_align  7/29/2011: Signed a four-year, $2.510 million contract.
        %tr
          %td LastName, FirstName
          %td PositionName
          %td.left_align  7/29/2011: Signed a four-year, $2.510 million contract.
        %tr
          %td LastName, FirstName
          %td PositionName
          %td.left_align  7/29/2011: Signed a four-year, $2.510 million contract.
        %tr
          %td LastName, FirstName
          %td PositionName
          %td.left_align  7/29/2011: Signed a four-year, $2.510 million contract.
        %tr
          %td LastName, FirstName
          %td PositionName
          %td.left_align  7/29/2011: Signed a four-year, $2.510 million contract.
        %tr
          %td LastName, FirstName
          %td PositionName
          %td.left_align  7/29/2011: Signed a four-year, $2.510 million contract.
  .four.columns
    %h5 Latest Transactions
    %p
      Transactions for Wednesday, March 7, 2012
    .accordion
      %section#one
        %h2
          %a{:href => "#one"}Player A  traded to Team B
        %div
          %p
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.
      %section#two
        %h2
          %a{:href => "#two"}Player B traded to Team A
        %div
          %p
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.
      %section#three
        %h2
          %a{:href => "#three"}Team A drops Players C, D
        %div
          %p
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.
      %section#four
        %h2
          %a{:href => "#four"}Team D Picks up Player X
        %div
          %p
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.


