%li.active#rosterTab
  %h5 Review your Roster
  %p How strong does your team look? Should you drop a weaker player?

  %h5 Starting Lineup
  %table#starters.roster
    %thead
      %tr
        %th Name
        %th Position
        %th Contract
        %th Bye
        %th.controlwrap
    %tbody

  %h5 Bench
  %table#bench.roster.sortable
    %thead
      %tr
        %th{ :class => "{sorter: 'text'}" } Name
        %th{ :class => "{sorter: 'text'}" } Position
        %th{ :class => "{sorter: 'currency'}" } Contract
        %th{ :class => "{sorter: 'integer'}" } Bye
        %th.controlwrap
    %tbody

-#- if reserve.size > 0
-#  %table#reserve.roster
-#    %thead
-#      %tr
-#        %th{:colspan => 5} Reserve
-#      %tr
-#        %th Position
-#        %th Name
-#        %th Bye
-#        %th Weekly Cost
-#        %th
-#    %tbody
-#      - reserve.each do |data|
-#        = render :partial => 'player_row', :locals => { :player => data[:player], :depth => :reserve }
