.panel
  %h5 Time Machine
  .alert-box= Clock.first.time.strftime("%B %e, %Y")
  %p
    = link_to 'Fast Forward 1 Week',
      next_week_clock_path(Clock.first.id),
      :remote => true,
      :class => 'nice button blue small radius'
  %p
    = link_to 'Reset To Season Start',
      reset_clock_path(Clock.first.id),
      :remote => true,
      :class => 'nice button blue small radius'
