/= javascript_include_tag controller.action_name
/= stylesheet_link_tag controller_base_name
- content_for :title, "Manage Team"

= simple_form_for @team do |f|
  = f.input :name
  = f.input :motto
  = f.button :submit
]
