= javascript_include_tag 'leagues/form'
= stylesheet_link_tag 'leagues/form'
- if form.object.id.nil?
  = form.input :name, :required => true, :input_html => { :class => 'input-text' }
= form.input :password, :as => :string, :label => 'Passphrase', :required => false, :input_html => { :class => 'short input-text', :autocomplete => 'off' }, :wrapper_html => { :style => (form.object.public ? 'display: none;' : '') }
