- if form.object.id.nil?
  = form.input :name, :required => true, :input_html => { :class => 'input-text' }

.control-group
  %label.control-label.required{ :for => 'draft_date' }
    %abbr{ :title => 'required' } *
    Draft date
  .controls
    = select_tag :draft_date, options_for_select(draft_schedule_dates), :id => 'draft_date', :name => 'draft_date', :class => 'span8', :include_blank => false

.control-group
  .controls Invite friends to your league
  - (Settings.league.capacity - 1).times do |i|
    %div
      %input{ :type => 'text', :name => "league-invite[]", :placeholder => "Email address #{i + 1}" }
.control-group
  %label.control-label{ :for => 'message' } Personal message (optional)
  .controls
    %textarea#message.input-xlarge.span12{ :name => 'message', :rows => 4 }
