dynasty.sublime-workspace
*.sqlite3
.bundle
.bundle/
.DS_Store
.gemrc
.idea/*
.idea/codeStyleSettings.xml
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dictionaries/benjaminmurphy.xml
.idea/dictionaries/Nick.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/modules.xml
.rails_footnotes
.rspec
.sass-cache/
app/views/layouts/application.html.erb
bundler_stubs
bundler_stubs/
config/database.yml
config/domain.yml
config/environments/*.local.yml
config/settings.local.yml
config/settings/*.local.yml
db/*.sqlite3
dump.rdb
Dynasty.esproj
Dynasty.esproj/
dynastyowner.tmproj
encodings.xml
log/*
npm-debug.log

public/draft/resources/.sass-cache/
public/stylesheets/*
tmp
tmp/
vendor/cache/*
vendor/ruby
.bundle

.bundle


config/dynasty_remote.sublime-workspace
index.html.haml.orig