tmp/
Dynasty.esproj/
bundler_stubs/
.bundle/
.bundle
.DS_Store
.rspec
.rvmrc
db/*.sqlite3
log/*
dynastyowner.tmproj
tmp
*.sqlite3
public/draft/resources/.sass-cache/
.sass-cache/
encodings.xml
app/views/layouts/application.html.erb
.rakeTasks
.idea
