[submodule "vendor/assets/javascripts/spine"]
	path = vendor/assets/javascripts/spine
	url = git://github.com/maccman/spine.git
[submodule "vendor/assets/stylesheets/elements"]
	path = vendor/assets/stylesheets/elements
	url = git://github.com/dmitryf/elements.git
[submodule "vendor/assets/javascripts/jquery-haml"]
	path = vendor/assets/javascripts/jquery-haml
	url = https://github.com/creationix/jquery-haml.git
