#people
  - @people.each do |person|
    .player.two_columns
      %ul
        %li
          %h2
            Player:
            = person.display_name.full_name
          %p
            Position:
            = person.current_position



