%table{ :id => 'activity_table', :width => 500 }
  %tr
    %td
      Rank
    %td
      Account
    %td
      Transactions
  - @activity_list.each_with_index do |item, index|
    %tr
      %td
        = index + 1
      %td
        = "Team ##{item['account']}"
      %td
        = item['count(*)']
