:javascript
  var team_id = "-#{@league_id}";
%h2
  Season Week:
  %span{ :id => 'season_week' }
    0
%h2
  League: 
  = @league_id
%h2
  League Balance: 
  %span{ :id => 'league_balance' }
    0
%h2
  Total Team Balance: 
  %span{ :id => 'teams_balance_total' }
    0
%h3
  Team Balances
  %table{ :id => 'teams_balance_table', :width => 500 }
