%table{ :id => 'team_ledger', :width => 500 }
  %tr
    %td
    %td
      Date
    %td{ :align => 'left' }
      Description
    %td{ :align => 'right' }
      Amount
  - @team_transactions.each_with_index do |item, index|
    %tr
      %td
        = index + 1
      %td
        = item['created_at'].strftime("%B %d, %Y")
      %td{ :align => 'left' }
        = item['description']
      %td
        = item['amount']
