:javascript
  var team_id = "#{@team_id}";
%h2
  Season Week:
  %span{ :id => 'season_week' }
    0
%h2
  Team:
  = @team_id
%h2
  Team Balance:
  %span{ :id => 'team_account_balance' }
    = "$#{@account_balance}.00"
  
%h3
  Team Transactions
  %table{ :id => 'team_ledger', :width => 500 }
