%table{ :id => 'teams_balance_table', :width => 500 }
  %tr
    %td
      Team
    %td{ :align => 'right' }
      Balance
    %td
  - @team_set.each do |team_id|
    - team_balance = Ledger.account_balance(team_id)
    %tr
      %td
        = team_id
      %td
        = team_balance
      %td
        = link_to 'Team Ledger', "/banking/team_stats/#{team_id}"
