= form.input :login, :required => false, :label => t('activerecord.attributes.user.login')
= form.input :password, :required => false
= form.label :remember_me, :value => true, :required => false, :class => 'checkbox' do
  Remember me
  = form.check_box :remember_me, :required => false
