= javascript_include_tag 'registration_steps'
= stylesheet_link_tag 'registration_steps'

#registration-steps.row-fluid
  .well.dark-well.controls
    %a.btn.btn-default{ :class => step_classes[0] }
      1. Register
      %i.icon-arrow-right
    %a.btn.btn-default{ :class => step_classes[1] }
      2. Create/Join a league
      %i.icon-arrow-right
    %a.btn.btn-default{ :class => step_classes[2] }
      3. Create a team
      %i.icon-arrow-right
