%li.active#researchTab
  %h5
    Player Research
  - @positions.each do |position|
    .row
      %p
        %strong
          = position.name
      - @all_players.each do |player|
        - if player.position == position
          .three.columns
            = link_to "#{player.name.full_name} (#{player.contract_depth})", player