Managing
= @team.name
.row
  .panel.twelve.columns
    %h5
      Dashboard
    %p
      Lorem ipsum dolor sit amet, hinc adhuc iisque eam in, est errem putant verear te, ex nam ridens dignissim. Vim quem audire no. Id putent dicunt imperdiet mel, ex vel impetus detracto necessitatibus, eam mandamus vulputate ea. Mei te wisi pertinacia, in nec sensibus scribentur. Ut nulla nostrud percipitur per, nulla zril delectus sea ex.
      Sed elit vituperata quaerendum an, ex mutat tritani voluptatum duo. Sea cu laboramus hendrerit, wisi legendos ad mea. Ad duo harum labore aliquip, in zril clita sapientem per. An liber definiebas per, ne mel idque doctus dolores, ne scripta sanctus persequeris mel. Quo te error essent laboramus, tantas fierent intellegebat quo an.