.row
  .six.columns
    %h5
    %h5 Lorem ipsum dolor sit ame
    %p
      Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
  .six.columns
    %h5
    %h5 At vero eos et accusamus

    %p "At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti
.row
  %ul.nav-bar.footer-nav
    %li
      %a{:href => "/mockups/rules"} FAQs
    %li
      %a{:href => "/mockups/terms_conditions"} Terms & Conditions
    %li
      %a{:href => "/mockups/privacy"} Privacy
    %li
      %a{:href => "/mockups/contact"} Contact