


.navbar.navbar-fixed-bottom
  .navbar-inner
    .container
      %ul.nav
        %li
          %a{:href => "/mockups/rules"} FAQs
        %li
          %a{:href => "/mockups/terms_conditions"} Terms & Conditions
        %li
          %a{:href => "/mockups/privacy"} Privacy
        %li
          %a{:href => "/mockups/contact"} Contact