
//Refactor this to work gracefully regardless of environment, while still playing well with Authorize.net

%img.logo.visible-desktop.pull_left{:src => "/assets/logo_small.png", :rel => "popover", :data => {:content => 'This is a great popup', :title => 'TITLE!' }}
%img.logo.hidden-desktop.pull_left{:src => "/assets/navbar_logo.png"}
