.row-fluid
  .span12
    .row-fluid
      .span1.show-grid 1
      .span1.show-grid 2
      .span1.show-grid 3
      .span1.show-grid 4
      .span1.show-grid 5
      .span1.show-grid 6
      .span1.show-grid 7
      .span1.show-grid 8
      .span1.show-grid 9
      .span1.show-grid 10
      .span1.show-grid 11
      .span1.show-grid 12

.row-fluid.fixed-footer
  .span12
    .span5.hero-unit
      %h5
      %h5 Lorem ipsum dolor sit ame
      %p
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
    .span5.hero-unit
      %h5
      %h5 At vero eos et accusamus

      %p "At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti


.navbar.navbar-fixed-bottom
  .navbar-inner
    .container
      %ul.nav
        %li
          %a{:href => "/mockups/rules"} FAQs
        %li
          %a{:href => "/mockups/terms_conditions"} Terms & Conditions
        %li
          %a{:href => "/mockups/privacy"} Privacy
        %li
          %a{:href => "/mockups/contact"} Contact