%ul.nav.nav-pills
  %li
    %a{:href => "/mockups/rules"} FAQs
  %li
    %a{:href => "/mockups/terms_conditions"} Terms & Conditions
  %li
    %a{:href => "/mockups/privacy"} Privacy
  %li
    %a{:href => "/mockups/contact"} Contact
  %li
    %a{:href => "#", :onClick =>  "script: Zenbox.show(); return false;"} Help
