#footer-nav
  %ul.nav.nav-pills.centered
    %li
      %a{:href => "/mockups/rules"} FAQs
    %li
      %a{:href => "/mockups/terms_conditions"} Terms & Conditions
    %li
      %a{:href => "/mockups/privacy"} Privacy
    %li
      %a{:href => "/mockups/contact"} Contact
    %li
      %a{:href => "#", :onClick =>  "script: Zenbox.show(); return false;"} Help
  .row
    %h4 © 2012 Front Office Media LLC