
#footer-nav
  .container
    %ul.nav.nav-pills.centered
      %li
        %a{:href => "/mockups/faq"} FAQs
      %li
        %a{:href => "/mockups/terms_conditions"} Terms & Conditions
      %li
        %a{:href => "/mockups/privacy"} Privacy
      %li
        %a{:href => "/mockups/contact"} Contact

    .row
      %p © 2012 Front Office Media LLC

