- if @footer
.row-fluid.fixed-footer
  .span12
    .span5.hero-unit
      %h5
      %h5 Lorem ipsum dolor sit ame
      %p
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
    .span5.hero-unit
      %h5
      %h5 At vero eos et accusamus

      %p "At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti
