.panel
  %h5
    Your Dashboard
    Week X



  %p
    %strong
      GAME RESULTS: WEEK X

    %p
      %strong
        You  Won!

        You got XYZ points and OpponentTeam got ABC points.

        You earned $5,000,000 and spent $3,456,000 on payroll.
    %p
      Your next game is against NextOpponent
      Remember to set your starters!
