%strong
  Team Name
%table
  %thead
    %tr
      %td
        Pos
      %td
        Name
      %td
        Exp/Age
  %tbody
    %tr
      %td QB1
      %td
        %a{:href => "/mockups/player_detail"} PlayerName
      %td (4) 27
    %tr
      %td QB2
      %td
        %a{:href => "/mockups/player_detail"} PlayerName
      %td (5) 29
    %tr
      %td QB3
      %td
        %a{:href => "/mockups/player_detail"} PlayerName
      %td (1) 23
    %tr
      %td RB1
      %td
        %a{:href => "/mockups/player_detail"} PlayerName
      %td (4) 27
    %tr
      %td RB2
      %td
        %a{:href => "/mockups/player_detail"} PlayerName
      %td (5) 29
    %tr
      %td RB3
      %td
        %a{:href => "/mockups/player_detail"} PlayerName
      %td (1) 23
    %tr
      %td RB4
      %td
        %a{:href => "/mockups/player_detail"} PlayerName
      %td (1) 23
    %tr
      %td WR1
      %td
        %a{:href => "/mockups/player_detail"} PlayerName
      %td (4) 27
    %tr
      %td WR2
      %td
        %a{:href => "/mockups/player_detail"} PlayerName
      %td (5) 29
    %tr
      %td WR3
      %td
        %a{:href => "/mockups/player_detail"} PlayerName
      %td (1) 23
    %tr
      %td WR4
      %td
        %a{:href => "/mockups/player_detail"} PlayerName
      %td (4) 27
    %tr
      %td WR5
      %td
        %a{:href => "/mockups/player_detail"} PlayerName
      %td (5) 29
    %tr
      %td TE1
      %td
        %a{:href => "/mockups/player_detail"} PlayerName
      %td (1) 23
    %tr
      %td TE2
      %td
        %a{:href => "/mockups/player_detail"} PlayerName
      %td (1) 23
