
%table#myTable.tablesorter
  %thead
    %tr
      %td Game
      %td
        Team
      %td
        Starters
      %td
        Bench
      %td
        Total Score
      %td
        Team
      %td
        Starters
      %td
        Bench
      %td
        Total Score
      %td
        Winner
  %tbody
    %tr
      %td 1
      %td
        %a{:href => "/mockups/team_detail"} HomeTeamName1
      %td 115
      %td 45
      %td 160
      %td
        %a{:href => "/mockups/team_detail"} AwayTeamName1
      %td 110
      %td 30
      %td 140
      %td
        %strong
          %a{:href => "/mockups/team_detail"} WinningTeamName1
    %tr
      %td 2
      %td
        %a{:href => "/mockups/team_detail"} HomeTeamName2
      %td 115
      %td 45
      %td 160
      %td
        %a{:href => "/mockups/team_detail"} AwayTeamName2
      %td 110
      %td 30
      %td 140
      %td
        %strong
          %a{:href => "/mockups/team_detail"} WinningTeamName2
    %tr
      %td 3
      %td
        %a{:href => "/mockups/team_detail"} HomeTeamName3
      %td 115
      %td 45
      %td 160
      %td
        %a{:href => "/mockups/team_detail"} AwayTeamName3
      %td 110
      %td 30
      %td 140
      %td
        %strong
          %a{:href => "/mockups/team_detail"} WinningTeamName3
    %tr
      %td 4
      %td
        %a{:href => "/mockups/team_detail"} HomeTeamName4
      %td 115
      %td 45
      %td 160
      %td
        %a{:href => "/mockups/team_detail"} AwayTeamName4
      %td 110
      %td 30
      %td 140
      %td
        %strong
          %a{:href => "/mockups/team_detail"} WinningTeamName4
    %tr
      %td 5
      %td
        %a{:href => "/mockups/team_detail"} HomeTeamName5
      %td 115
      %td 45
      %td 160
      %td
        %a{:href => "/mockups/team_detail"} AwayTeamName5
      %td 110
      %td 30
      %td 140
      %td
        %strong
          %a{:href => "/mockups/team_detail"} WinningTeamName5
    %tr
      %td 6
      %td
        %a{:href => "/mockups/team_detail"} HomeTeamName6
      %td 115
      %td 45
      %td 160
      %td
        %a{:href => "/mockups/team_detail"} AwayTeamName6
      %td 110
      %td 30
      %td 140
      %td
        %strong
          %a{:href => "/mockups/team_detail"} WinningTeamName6
    %tr
      %td 7
      %td
        %a{:href => "/mockups/team_detail"} HomeTeamName7
      %td 115
      %td 45
      %td 160
      %td
        %a{:href => "/mockups/team_detail"} AwayTeamName7
      %td 110
      %td 30
      %td 140
      %td
        %strong
          %a{:href => "/mockups/team_detail"} WinningTeamName7
    %tr
      %td 8
      %td
        %a{:href => "/mockups/team_detail"} HomeTeamName8
      %td 115
      %td 45
      %td 160
      %td
        %a{:href => "/mockups/team_detail"} AwayTeamName8
      %td 110
      %td 30
      %td 140
      %td
        %strong
          %a{:href => "/mockups/team_detail"} WinningTeamName8
