.modal.fade{ :id => "#{ defined?(id) ? id : '' }" }
  .modal-header
    %a.close{ :data => { :dismiss => 'modal' } }×
    - if defined?(title)
      %h3.title= title
  .modal-alert
  .modal-body
  - unless defined?(footer) && footer === false
    .modal-footer
    - if defined?(form) && form
      %a.btn{ :href => '#', :data => { :dismiss => 'modal' } } Close
