.four.columns
  %img{:src => "/assets/news_box.png"}
  %h5.strong
    News Item 1
  %p
    Sports editor Al Saracevic did a fine job outlining the potential pratfalls and positives of the 49ers signing Colts quarterback Peyton Manning. After perusing the pro and con and adding a few more cons, it’s clear that signing a 36-year-old with a severe neck injury to a team that doesn’t pass protect well is a bad idea and here are the reasons why.
  %h5.strong
    News Item 3
  %p
    Sports editor Al Saracevic did a fine job outlining the potential pratfalls and positives of the 49ers signing Colts quarterback Peyton Manning. After perusing the pro and con and adding a few more cons, it’s clear that signing a 36-year-old with a severe neck injury to a team that doesn’t pass protect well is a bad idea and here are the reasons why.
  %h5.strong
    News Item 4
  %p
    Sports editor Al Saracevic did a fine job outlining the potential pratfalls and positives of the 49ers signing Colts quarterback Peyton Manning. After perusing the pro and con and adding a few more cons, it’s clear that signing a 36-year-old with a severe neck injury to a team that doesn’t pass protect well is a bad idea and here are the reasons why.
