.row
  %h5
    Results
    %table#grid
      %thead
        %tr
          %th{"data-field" => "pos"} Pos
          %th{"data-field" => "num"} Num
          %th{"data-field" => "name"} Name
          %th{"data-field" => "status"} Status
          %th{"data-field" => 'act'} act
          %th{"data-field" => 'tds'} tds
          %th{"data-field" => 'yd'} yd
          %th{"data-field" => 'int'} int
          %th{"data-field" => 'yds'} yds
          %th{"data-field" => 'rtg'} rtg
          %th{"data-field" => 'rate'} rate
          %th{"data-field" => "team"} Team
          %th.has-tip{"data-field" => "contract"} Contract
      %tbody
        %tr
          %td
            QB
          %td
            15
          %td
            LastName, FirstName
          %td
            ACT
          %td
            TDS
          %td
            10
          %td
            INT
          %td
            5
          %td
            YDS
            5,250
          %td
            RTG
          %td
            98.5
          %td
            TeamName
          %td
            Contract
        %tr
          %td
            QB
          %td
            15
          %td
            LastName, FirstName
          %td
            ACT
          %td
            TDS
          %td
            10
          %td
            INT
          %td
            5
          %td
            YDS
            5,250
          %td
            RTG
          %td
            98.5
          %td
            TeamName
          %td
            Contract
        %tr
          %td
            QB
          %td
            15
          %td
            LastName, FirstName
          %td
            ACT
          %td
            TDS
          %td
            10
          %td
            INT
          %td
            5
          %td
            YDS
            5,250
          %td
            RTG
          %td
            98.5
          %td
            TeamName
          %td
            Contract
        %tr
          %td
            QB
          %td
            15
          %td
            LastName, FirstName
          %td
            ACT
          %td
            TDS
          %td
            10
          %td
            INT
          %td
            5
          %td
            YDS
            5,250
          %td
            RTG
          %td
            98.5
          %td
            TeamName
          %td
            Contract
        %tr
          %td
            QB
          %td
            15
          %td
            LastName, FirstName
          %td
            ACT
          %td
            TDS
          %td
            10
          %td
            INT
          %td
            5
          %td
            YDS
            5,250
          %td
            RTG
          %td
            98.5
          %td
            TeamName
          %td
            Contract

        %tr
          %td
            QB
          %td
            15
          %td
            LastName, FirstName
          %td
            ACT
          %td
            TDS
          %td
            10
          %td
            INT
          %td
            5
          %td
            YDS
            5,250
          %td
            RTG
          %td
            66.5
          %td
            TeamName
          %td
            Contract
        %tr
          %td
            QB
          %td
            15
          %td
            LastName, FirstName
          %td
            ACT
          %td
            TDS
          %td
            10
          %td
            INT
          %td
            5
          %td
            YDS
            5,250
          %td
            RTG
          %td
            98.5
          %td
            TeamName
          %td
            Contract
        %tr
          %td
            QB
          %td
            14
          %td
            LastName, FirstName
          %td
            ACT
          %td
            TDS
          %td
            10
          %td
            INT
          %td
            5
          %td
            YDS
            5,250
          %td
            RTG
          %td
            98.5
          %td
            TeamName
          %td
            Contract
        %tr
          %td
            QB
          %td
            15
          %td
            LastName, FirstName
          %td
            ACT
          %td
            TDS
          %td
            10
          %td
            INT
          %td
            5
          %td
            YDS
            5,250
          %td
            RTG
          %td
            98.5
          %td
            TeamName
          %td
            Contract

    :javascript
      $(document).ready(function() {
          $("#grid").kendoGrid({
              sortable: {
                mode: "multiple",
                allowUnsort: true
              }

          });
      });