.row

  %ul.nav.nav-pills
    %li

      %a.strong= yield :section_title
    - @sub_pages.each do |sub_page|
      %li
        = link_to sub_page.to_s.titleize, send("#{controller_base_name}_path", :action => sub_page),
          :class => "#{controller.action_name === sub_page.to_s ? 'current' : ''} main"

