#inline-signup.hidden-desktop
  .row-fluid
    %a.btn.btn-danger.big-signup{:href => "#signupModal", "data-toggle" => "modal"}
      Sign Up Now!
.row-fluid
  .span12
    %h1
      LIMITED AVAILABILITY - ONLY
      %span.red
        3000
      SPOTS AVAILABLE IN 2012
.row-fluid
  %ul.thumbnails
    .span5
      .well.light-well#video
        .flex-video
          = render :partial => "shared/content/brightcove"
    .span7
      .well.light-well#comparison
        = render :partial => "shared/content/comparison"

.row-fluid
  .span12
    %h3
      %span.dark_red
        SIGN UP
      TO CREATE OR JOIN A LEAGUE!
.row-fluid
  .well.light-well.span12
    .row-fluid
      = render :partial => "shared/league_comparison"
- unless user_signed_in?
  #floating-signup.visible-desktop
    .row-fluid
      %a.btn.btn-danger.big-signup{:href => "#signupModal", "data-toggle" => "modal"}
        Sign Up Now!







