= form_for(@salary) do |f|
  - if @salary.errors.any?
    #error_explanation
      %h2
        = pluralize(@salary.errors.count, "error")
        prohibited this salary from being saved:
      %ul
        - @salary.errors.full_messages.each do |msg|
          %li= msg
  .actions
    = f.submit
