
#dynasty-navbar.fixed_nav
  .row
    .one
    .two.columns
      %a{:href => "/mockups/"}
        %img{:src => "/assets/logo_med.png"}
    .nine.columns.right#nav_top_row
      %ul.nav-bar.right
        %li

        %li.has-flyout.right
          %a{:href => "#", :class => "main"}Research
          %a{:href => "#", :class => "flyout-toggle"}
            %span
          %div.flyout.small.panel
            %dl
              %dd
                %a{:href => "/mockups/player_research"} Player Research
              %dd
                %a{:href => "/mockups/player_news"} Player News
              %dd
                %a{:href => "/mockups/headlines"} Headlines
              %dd
                %a{:href => "/mockups/transactions_contracts"} Transactions & Contracts
              %dd
                %a{:href => "/mockups/depth_charts"} Depth Charts
              %dd
                %a{:href => "http://blog.dynastyowner.com", :target => "_blank"} Blog


        %li.has-flyout.right
          %a{:href => "#", :class => "main"}Support
          %a{:href => "#", :class => "flyout-toggle"}
            %span
          %div.flyout.small.panel
            %h5.red
              Move this to the bottom
            %dl
              %dd
                %a{:href => "/mockups/rules"} Gameplay
              %dd
                %a{:href => "/mockups/terms_conditions"} Terms & Conditions
              %dd
                %a{:href => "/mockups/privacy"} Privacy

        %li
          %a{:href => "/mockups/contact", :class => "main"} Contact
        - unless user_signed_in?
          %li
            %a.button.nice.radius{"data-reveal-id" => "loginModal", :href => "#", "data-animation" => "fadeAndPop"} Not Signed In
        - if user_signed_in?
          %li.has-flyout.right
            %a{:href => "#", :class => "main"}
              Signed in as:
              = current_user.email
            %a{:href => "#", :class => "flyout-toggle"}
              %span
            %div.flyout.small.panel
              %dl
                %dd
                  = link_to "Sign Out?", destroy_session_path(devise_mapping.singular), :method => :delete
                %dd
                  %a{:href => "#"} Manage Account
