.row
  .three.columns
    %h5 TeamName
    = render :partial => "mockups/partials/heads_up"
  .two.columns
    %h5
      Winner
    %table
      %tr
        %td
          X
        %td
      %tr
        %td
        %td
          X
      %tr
        %td
          X
        %td
      %tr
        %td
        %td
          X
      %tr
        %td
          X
        %td
      %tr
        %td
        %td
          X
      %tr
        %td
          X
        %td
      %tr
        %td
        %td
          X
  .three.columns
    %h5 OpponentTeamName
    = render :partial => "mockups/partials/heads_up"

  .four.columns
    = render :partial => "mockups/partials/game_review_summary"
