.row
  %h5
    Starters
    %table
      %thead
        %tr
          %td
            Pos
          %td
            Num
          %td
            Name
          %td
            Status
          %td{:colspan => "7"}
            Quick Stats
          %td
            Team
          %td.has-tip
            Contract
          %td

      %tbody
        %tr
          %td
            QB
          %td
            15
          %td
            LastName, FirstName
          %td
            ACT
          %td
            TDS
          %td
            10
          %td
            INT
          %td
            5
          %td
            YDS
            5,250
          %td
            RTG
          %td
            98.5
          %td
            TeamName
          %td
            Contract
          %td
            %a.button.nice.small.red
              Drop
            %a.button.nice.small.black
              Bench
        %tr
          %td
            RB
          %td
            15
          %td
            LastName, FirstName
          %td
            ACT
          %td
            TDS
          %td
            10
          %td
            INT
          %td
            5
          %td
            YDS
            5,250
          %td
            RTG
          %td
            98.5
          %td
            TeamName
          %td
            Contract
          %td
            %a.button.nice.small.red
              Drop
            %a.button.nice.small.black
              Bench
        %tr
          %td
            RB
          %td
            15
          %td
            LastName, FirstName
          %td
            ACT
          %td
            TDS
          %td
            10
          %td
            INT
          %td
            5
          %td
            YDS
            5,250
          %td
            RTG
          %td
            98.5
          %td
            TeamName
          %td
            Contract
          %td
            %a.button.nice.small.red
              Drop
            %a.button.nice.small.black
              Bench
        %tr
          %td
            WR
          %td
            15
          %td
            LastName, FirstName
          %td
            ACT
          %td
            TDS
          %td
            10
          %td
            INT
          %td
            5
          %td
            YDS
            5,250
          %td
            RTG
          %td
            98.5
          %td
            TeamName
          %td
            Contract
          %td
            %a.button.nice.small.red
              Drop
            %a.button.nice.small.black
              Bench
        %tr
          %td
            TE
          %td
            15
          %td
            LastName, FirstName
          %td
            ACT
          %td
            TDS
          %td
            10
          %td
            INT
          %td
            5
          %td
            YDS
            5,250
          %td
            RTG
          %td
            98.5
          %td
            TeamName
          %td
            Contract
          %td
            %a.button.nice.small.red
              Drop
            %a.button.nice.small.black
              Bench

        %tr
          %td
            TE
          %td
            15
          %td
            LastName, FirstName
          %td
            ACT
          %td
            TDS
          %td
            10
          %td
            INT
          %td
            5
          %td
            YDS
            5,250
          %td
            RTG
          %td
            98.5
          %td
            TeamName
          %td
            Contract
          %td
            %a.button.nice.small.red
              Drop
            %a.button.nice.small.black
              Bench
        %tr
          %td
            WR
          %td
            15
          %td
            LastName, FirstName
          %td
            ACT
          %td
            TDS
          %td
            10
          %td
            INT
          %td
            5
          %td
            YDS
            5,250
          %td
            RTG
          %td
            98.5
          %td
            TeamName
          %td
            Contract
          %td
            %a.button.nice.small.red
              Drop
            %a.button.nice.small.black
              Bench
        %tr
          %td
            K
          %td
            15
          %td
            LastName, FirstName
          %td
            ACT
          %td
            TDS
          %td
            10
          %td
            INT
          %td
            5
          %td
            YDS
            5,250
          %td
            RTG
          %td
            98.5
          %td
            TeamName
          %td
            Contract
          %td
            %a.button.nice.small.red
              Drop
            %a.button.nice.small.black
              Bench
        %tr
          %td
            Flex
          %td
            15
          %td
            LastName, FirstName
          %td
            ACT
          %td
            TDS
          %td
            10
          %td
            INT
          %td
            5
          %td
            YDS
            5,250
          %td
            RTG
          %td
            98.5
          %td
            TeamName
          %td
            Contract
          %td
            %a.button.nice.small.red
              Drop
            %a.button.nice.small.black
              Bench
.row
  %h5
    Bench
    %table
      %thead
        %tr
          %td
            Pos
          %td
            Num
          %td
            Name
          %td
            Status
          %td{:colspan => "7"}
            Quick Stats
          %td
            Team
          %td.has-tip
            Contract
          %td

      %tbody
        %tr
          %td
            QB
          %td
            15
          %td
            LastName, FirstName
          %td
            ACT
          %td
            TDS
          %td
            10
          %td
            INT
          %td
            5
          %td
            YDS
            5,250
          %td
            RTG
          %td
            98.5
          %td
            TeamName
          %td
            Contract
          %td
            %a.button.nice.small.red
              Drop
            %a.button.nice.small.black
              Start
        %tr
          %td
            RB
          %td
            15
          %td
            LastName, FirstName
          %td
            ACT
          %td
            TDS
          %td
            10
          %td
            INT
          %td
            5
          %td
            YDS
            5,250
          %td
            RTG
          %td
            98.5
          %td
            TeamName
          %td
            Contract
          %td
            %a.button.nice.small.red
              Drop
            %a.button.nice.small.black
              Start
        %tr
          %td
            RB
          %td
            15
          %td
            LastName, FirstName
          %td
            ACT
          %td
            TDS
          %td
            10
          %td
            INT
          %td
            5
          %td
            YDS
            5,250
          %td
            RTG
          %td
            98.5
          %td
            TeamName
          %td
            Contract
          %td
            %a.button.nice.small.red
              Drop
            %a.button.nice.small.black
              Start
        %tr
          %td
            WR
          %td
            15
          %td
            LastName, FirstName
          %td
            ACT
          %td
            TDS
          %td
            10
          %td
            INT
          %td
            5
          %td
            YDS
            5,250
          %td
            RTG
          %td
            98.5
          %td
            TeamName
          %td
            Contract
          %td
            %a.button.nice.small.red
              Drop
            %a.button.nice.small.black
              Start
        %tr
          %td
            TE
          %td
            15
          %td
            LastName, FirstName
          %td
            ACT
          %td
            TDS
          %td
            10
          %td
            INT
          %td
            5
          %td
            YDS
            5,250
          %td
            RTG
          %td
            98.5
          %td
            TeamName
          %td
            Contract
          %td
            %a.button.nice.small.red
              Drop
            %a.button.nice.small.black
              Start

        %tr
          %td
            TE
          %td
            15
          %td
            LastName, FirstName
          %td
            ACT
          %td
            TDS
          %td
            10
          %td
            INT
          %td
            5
          %td
            YDS
            5,250
          %td
            RTG
          %td
            98.5
          %td
            TeamName
          %td
            Contract
          %td
            %a.button.nice.small.red
              Drop
            %a.button.nice.small.black
              Start
        %tr
          %td
            WR
          %td
            15
          %td
            LastName, FirstName
          %td
            ACT
          %td
            TDS
          %td
            10
          %td
            INT
          %td
            5
          %td
            YDS
            5,250
          %td
            RTG
          %td
            98.5
          %td
            TeamName
          %td
            Contract
          %td
            %a.button.nice.small.red
              Drop
            %a.button.nice.small.black
              Start
        %tr
          %td
            K
          %td
            15
          %td
            LastName, FirstName
          %td
            ACT
          %td
            TDS
          %td
            10
          %td
            INT
          %td
            5
          %td
            YDS
            5,250
          %td
            RTG
          %td
            98.5
          %td
            TeamName
          %td
            Contract
          %td
            %a.button.nice.small.red
              Drop
            %a.button.nice.small.black
              Start
        %tr
          %td
            Flex
          %td
            15
          %td
            LastName, FirstName
          %td
            ACT
          %td
            TDS
          %td
            10
          %td
            INT
          %td
            5
          %td
            YDS
            5,250
          %td
            RTG
          %td
            98.5
          %td
            TeamName
          %td
            Contract
          %td
            %a.button.nice.small.red
              Drop
            %a.button.nice.small.black
              Start
.row
  %h5
    Injured Reserve

.row
  %h5
    Unsigned Rookies
