.row
  %h5
    Results
    %table
      %thead
        %tr
          %td
            Pos
          %td
            Num
          %td
            Name
          %td
            Status
          %td{:colspan => "7"}
            Quick Stats
          %td
            Team
          %td
            Contract
      %tbody
        %tr
          %td
            QB
          %td
            15
          %td
            LastName, FirstName
          %td
            ACT
          %td
            TDS
          %td
            10
          %td
            INT
          %td
            5
          %td
            YDS
            5,250
          %td
            RTG
          %td
            98.5
          %td
            TeamName
          %td
            Contract
        %tr
          %td
            QB
          %td
            15
          %td
            LastName, FirstName
          %td
            ACT
          %td
            TDS
          %td
            10
          %td
            INT
          %td
            5
          %td
            YDS
            5,250
          %td
            RTG
          %td
            98.5
          %td
            TeamName
          %td
            Contract
        %tr
          %td
            QB
          %td
            15
          %td
            LastName, FirstName
          %td
            ACT
          %td
            TDS
          %td
            10
          %td
            INT
          %td
            5
          %td
            YDS
            5,250
          %td
            RTG
          %td
            98.5
          %td
            TeamName
          %td
            Contract
        %tr
          %td
            QB
          %td
            15
          %td
            LastName, FirstName
          %td
            ACT
          %td
            TDS
          %td
            10
          %td
            INT
          %td
            5
          %td
            YDS
            5,250
          %td
            RTG
          %td
            98.5
          %td
            TeamName
          %td
            Contract
        %tr
          %td
            QB
          %td
            15
          %td
            LastName, FirstName
          %td
            ACT
          %td
            TDS
          %td
            10
          %td
            INT
          %td
            5
          %td
            YDS
            5,250
          %td
            RTG
          %td
            98.5
          %td
            TeamName
          %td
            Contract

        %tr
          %td
            QB
          %td
            15
          %td
            LastName, FirstName
          %td
            ACT
          %td
            TDS
          %td
            10
          %td
            INT
          %td
            5
          %td
            YDS
            5,250
          %td
            RTG
          %td
            98.5
          %td
            TeamName
          %td
            Contract
        %tr
          %td
            QB
          %td
            15
          %td
            LastName, FirstName
          %td
            ACT
          %td
            TDS
          %td
            10
          %td
            INT
          %td
            5
          %td
            YDS
            5,250
          %td
            RTG
          %td
            98.5
          %td
            TeamName
          %td
            Contract
        %tr
          %td
            QB
          %td
            15
          %td
            LastName, FirstName
          %td
            ACT
          %td
            TDS
          %td
            10
          %td
            INT
          %td
            5
          %td
            YDS
            5,250
          %td
            RTG
          %td
            98.5
          %td
            TeamName
          %td
            Contract
        %tr
          %td
            QB
          %td
            15
          %td
            LastName, FirstName
          %td
            ACT
          %td
            TDS
          %td
            10
          %td
            INT
          %td
            5
          %td
            YDS
            5,250
          %td
            RTG
          %td
            98.5
          %td
            TeamName
          %td
            Contract
