
.span6.centered
  .panel
    %h4
      Purchase Complete

    %h5
      Initial Team Balance:
      = @starting_balance.format
    %h5
      Package Purchased:
      = number_to_currency(params[:x_amount], :unit => "DD$")
    %h5
      Current Team Balance:
      = @team.balance.format

