= javascript_include_tag controller_base_name
= stylesheet_link_tag controller_base_name
- content_for :title, t('.title')
- content_for :section_title, "Front Office"
.row
  .span12.well
    %table#starter.roster.sortable
      %thead
        %tr
          %th{ :class => "{sorter: 'text'}" }= t '.columns.position'
          %th{ :class => "{sorter: 'text'}" }= t '.columns.depth'
          %th{ :class => "{sorter: 'text'}" }= t '.columns.full_name'
          %th{ :class => "{sorter: 'integer'}" }= t '.columns.bye'
          %th{ :class => "{sorter: 'currency'}" }= t '.columns.amount'
          %th.controlwrap
      %tbody
        - @lineups.each do |lineup|
          = render :partial => 'player_row', :locals => { :lineup => lineup }
