$include-default: true; // DO NOT CHANGE
$theme-name: 'dynasty';

// Insert your custom variables here.
$font-family: 'Droid Sans', sans-serif;


/********************************************************************************
 * COLORS
 *******************************************************************************/

//$base-color: #aa0000
//$base-color: #111111;
//$base-font-size: 18px;
//$base-line-height: 36px;
//$font-size  : 24px !default;
//$window-border-radius: 50px;
$row-disabled-color: #CCC;
$picks-scroller-mask-color: #FFF;

//$grid-row-padding: 10px !default;
//$grid-row-padding: 15px !default;
//$grid-row-body-padding: 15px !default;

@import 'ext4/default/all';



@include extjs-notification-window-ui(null,center,15px 5px 15px 5px,200px,null,null,null,null,null);
@include extjs-notification-window-ui("light",center,15px 5px 18px 5px,200px,transparent,#FFFFFF,transparent,0px solid white,"fader.png",0px none transparent);
@include extjs-window-ui(
    $ui-label: "light",
    $ui-border-radius: $window-border-radius,
    $ui-border-color: $window-border-color,
    $ui-inner-border-color: $window-inner-border-color,
    $ui-header-color: $window-header-color,
    $ui-body-border-color: $window-body-border-color,
    $ui-body-background-color: $window-body-background-color,
    $ui-body-color: $window-body-color,
    $ui-background-color: #FFFFFF
);

// This line changes the location of your images when creating UIs to be relative instead of within the ExtJS directory.
// You MUST set this to true/string value if you are creating new UIs + supporting legacy browsers.
// This only applies to new UIs. It does not apply to default component images (i.e. when changing $base-color)
// The value can either be true, in which case the image path will be "../images/"
// or a string, of where the path is
$relative-image-path-for-uis: '../themes/images/'; // defaults to "../images/" when true


// include mixins specific to our custom theme
@import 'shoutbox';
@import 'compass/utilities/general/min';
@import 'compass/css3/transition';

/********************************************************************************
 * HEADER
 *******************************************************************************/

#header_container {
    #background-image: theme-background-image($theme-name, 'logo.png', false, $relative-image-path-for-uis);
    background-color: #FFF;
}

#header_spacer {
    background: transparent;
}



.timer-display {
    font-size: 69px;
}


/********************************************************************************
 * SHOUTBOX
 *******************************************************************************/
@include shoutbox;

/********************************************************************************
 * WRAP
 *******************************************************************************/
#wrap {
    margin: 50px;
}

/********************************************************************************
 * GRID STUFF
 *******************************************************************************/
.row-invalid {
    color: $row-disabled-color;
}

/** RECOMMENDED PICK */
$recommended_pick_border_color: #CCC;
$recommended_pick_background_color: color-stops(#EDEDED 0%, #FFFFFF 6%, #EDEDED 100%);
$recommended_pick_background_color_hover: rgba(255, 255, 82, 0.2);
$recommended_pick_background_color_selected: color-stops(mix(#EDEDED, #B2D7FF) 0%, #B2D7FF 6%, mix(#EDEDED, #B2D7FF) 100%);
$recommended_pick_bio_width: 10em;
$recommended_pick_bio_min-height: 8em;
.recommended_pick_wrap {
    width: 100%;
    overflow: hidden;
    margin: 0;
    margin-bottom: 1em;
    &:last-child { margin-bottom: 0; }
    border: 0.2em solid $recommended_pick_border_color;
    @include border-radius(0.7em);
    @include background-image(linear-gradient(bottom, $recommended_pick_background_color));

    .recommended_pick {
        @include min-height($recommended_pick_bio_min-height);
        padding: 0.5em 0.7em;
        @include transition-property(background-color);
        @include transition-duration(0.4s);
        @include transition-timing-function(cubic-bezier(0, 0.42, 0.57, 0.88));

        &:hover { background-color: $recommended_pick_background_color_hover; }

        dt, dd {
            display: inline;
            margin: 0;
            padding: 0;
            font-size: 1.5em;
        }
        dt {
            font-weight: bold;
            text-transform: uppercase;
        }
        dd { margin-right: 1em; }

        .bio {
            float: left;
            width: $recommended_pick_bio_width;
            margin-left: -100%;
            text-align: center;

            .photo {
                width: 100px;
                height: 123px;
                margin: 0 auto;
                background-color: white;
                background-image: image-url("players/default.png", false, false);
            }
        }
        
        .stats_wrap {
            float: left;
            width: 100%;
            padding-left: 1em;

            .stats_content {
                margin-left: $recommended_pick_bio_width;

                .title, .salary {
                    float: left;
                    width: 50%;
                    margin: 0;
                    padding: 0;
                    font-weight: bold;
                    font-size: 2em;
                    margin-bottom: 0.5em;

                    .edit {
                        display: inline-block;
                        margin: 0;
                        padding: 0;
                        margin-left: 1em;

                        div {
                            font-size: 16px;
                            height: 100%;
                        }
                    }
                }
                .salary { text-align: right; }
                .stats {
                    clear: both; 
                    dd {
                        display: inline-block;
                        width: 80px;
                        margin-right: 20px;

                        span {
                            float: right;
                            color: #CCCCCC;
                            &.pos { color: green; }
                            &.neg { color: red; }
                        }
                    }
                }
            }
        }

        .footer {
            clear: both;
            width: 100%;
            text-align: center;
        }
    }
}
.selected { @include background-image(linear-gradient(bottom, $recommended_pick_background_color_selected)); }

.#{$prefix}boundlist-floating { border-top-width: 1px; }
.playersearch-boundlist {
    ul {
        display: block;
        padding: 0px 3px;

        li {
            display: inline-block;
            text-align: left;

            &.name { width: 55%; }
            &.position { width: 10%; }
            &.rating { width: 10%; }
            &.salary {
                width: 25%;
                text-align: right;
            }
        }
    }
}

/********************************************************************************
 * PICK SCROLLER STUFF
 *******************************************************************************/
.gradient-mask {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 200px;
    background-color: $picks-scroller-mask-color;
    -webkit-mask-image: -webkit-gradient(linear, right top, left top, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
}

#picks_scroller {
    ul {
        display: table-row;
        overflow: hidden;
        width: 2500px;
        height: 120px;
    }
}

div.pick {
    position: absolute;
    height: 120px;
    width: 120px;
    margin: 0;
    padding: 10px;

    div.team_pic {
        margin: 0 auto;
        height: 80px;
        width: 80px;
        border: 1px solid black;
        margin-bottom: 5px;
    }

    div.round p {
        width: 100%;
        text-align: center;
        font-weight: bold;
    }
}

#user-balance {
    font-size: 1.2em;
    font-weight: bold;
    &.deficit {
        color: red;
    }
}