$include-default: true; // DO NOT CHANGE
$theme-name: 'dynasty';

// Insert your custom variables here.
// $base-color: #aa0000

@import 'ext4/default/all';

// This line changes the location of your images when creating UIs to be relative instead of within the ExtJS directory.
// You MUST set this to true/string value if you are creating new UIs + supporting legacy browsers.
// This only applies to new UIs. It does not apply to default component images (i.e. when changing $base-color)
// The value can either be true, in which case the image path will be "../images/"
// or a string, of where the path is
$relative-image-path-for-uis: '../themes/images/'; // defaults to "../images/" when true


// include mixins specific to our custom theme
@import 'shoutbox';


/********************************************************************************
 * HEADER
 *******************************************************************************/

#header_container {
    background-image: theme-background-image($theme-name, 'logo.png', false, $relative-image-path-for-uis);
    background-color: #FFF;
}

#header_spacer {
    background: transparent;
}


/********************************************************************************
 * SHOUTBOX
 *******************************************************************************/
@include shoutbox;
