$include-default: true; // DO NOT CHANGE
$theme-name: 'dynasty';

// Insert your custom variables here.
// $base-color: #aa0000
$font-family: 'Droid Sans', sans-serif;
$base-color: #ffffff;
//$base-font-size: 18px;
//$base-line-height: 36px;
//$font-size  : 24px !default;
//$window-border-radius: 50px;

@import 'ext4/default/all';



@include extjs-notification-window-ui(null,center,15px 5px 15px 5px,200px,null,null,null,null,null);
@include extjs-notification-window-ui("light",center,15px 5px 18px 5px,200px,transparent,#FFFFFF,transparent,0px solid white,"fader.png",0px none transparent);
@include extjs-window-ui(
    $ui-label: "light",
    $ui-border-radius: $window-border-radius,
    $ui-border-color: $window-border-color,
    $ui-inner-border-color: $window-inner-border-color,
    $ui-header-color: $window-header-color,
    $ui-body-border-color: $window-body-border-color,
    $ui-body-background-color: $window-body-background-color,
    $ui-body-color: $window-body-color,
    $ui-background-color: #FFFFFF
);

// This line changes the location of your images when creating UIs to be relative instead of within the ExtJS directory.
// You MUST set this to true/string value if you are creating new UIs + supporting legacy browsers.
// This only applies to new UIs. It does not apply to default component images (i.e. when changing $base-color)
// The value can either be true, in which case the image path will be "../images/"
// or a string, of where the path is
$relative-image-path-for-uis: '../themes/images/'; // defaults to "../images/" when true


// include mixins specific to our custom theme
@import 'shoutbox';


/********************************************************************************
 * HEADER
 *******************************************************************************/

#header_container {
    background-image: theme-background-image($theme-name, 'logo.png', false, $relative-image-path-for-uis);
    background-color: #FFF;
}

#header_spacer {
    background: transparent;
}



.timer-display {
    font-size: 69px;
}


/********************************************************************************
 * SHOUTBOX
 *******************************************************************************/
@include shoutbox;

/********************************************************************************
 * WRAP
 *******************************************************************************/
 #wrap {
     margin: 50px;
 }