@mixin shoutbox {
    #shoutbox-container { background: white; }
    .shoutbox_message {
        color: #666;
        margin-bottom: 3px;

        .user_id {
            font-weight: bold;
            color: blue;
            width: 120px;
            float: left;
        }

        &.notice {
            font-style: italic;
            color: #BBB;
            float: none;
        }
    }
}
