/*
 *= require foundation/reveal
 *= require bootstrap_and_overrides
 *= require kickstrap
 *= require kickstrap/themes/simplex
 *= require jquery.ui.core
 *= require jquery.ui.theme
 *= require dataTables/jquery.dataTables
 *= require dataTables/jquery.dataTables.bootstrap
 *= require animations
 *= require animate

 *= require_self
 */

// Navbar

.logo {
  position: fixed;
  top: 0px;
  z-index: 5000;
  float: left;
  margin-bottom: -155px !important;
  width: 150px;

}
#dynasty-navbar .navbar-inner {

    margin: 0;
    padding: 0;
    background-color: #324a7b;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(91, 128, 185)), to   (rgb(9, 21, 62)));
    background-image: -webkit-linear-gradient(top, rgb(91, 128, 185), rgb(9, 21, 62));
    background-image: -moz-linear-gradient(top, rgb(91, 128, 185), rgb(9, 21, 62));
    background-image: -o-linear-gradient(top, rgb(91, 128, 185), rgb(9, 21, 62));
    background-image: -ms-linear-gradient(top, rgb(91, 128, 185), rgb(9, 21, 62));
    background-image: linear-gradient(top, rgb(91, 128, 185), rgb(9, 21, 62));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#5b80b9',  EndColorStr='#09153e');
}



#dynasty-navbar .active {
  background: rgb(246,248,249); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(246,248,249,1) 0%, rgba(229,235,238,1) 50%, rgba(215,222,227,1) 51%, rgba(245,247,249,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(246,248,249,1)), color-stop(50%,rgba(229,235,238,1)), color-stop(51%,rgba(215,222,227,1)), color-stop(100%,rgba(245,247,249,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* IE10+ */
  background: linear-gradient(top,  rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* W3C */
  color: black !important;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=0 ); /* IE6-9 */
}

.subnav a {
  margin-top: 3px !important;
  margin-bottom: 0px !important;
  padding: 5px !important;
}
#dynasty-navbar .subnav .active {
  background: rgb(125,126,125); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(125,126,125,1) 0%, rgba(14,14,14,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(125,126,125,1)), color-stop(100%,rgba(14,14,14,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* IE10+ */
  background: linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* W3C */
  color: #FFFFFF !important;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */
}

//fix button in navbar
.navbar .btn-group {
  margin: 0px;
  padding-top: 6px;
  padding-bottom: 6px;
}
.subnav  a {
  color: #000099 !important;

}
.dropdown-menu {
  z-index:10000000;

}
.pad-right {
  padding-right: 5px;
}

.navbar .divider-vertical {
  height: 40px;
}
.subnav a.active {
  color: white !important;
}


.subnav {
  width: 100%;
  height: 36px;
  z-index: 6;
  background-color: #EEE;
  background-repeat: repeat-x;
  background-image: -moz-linear-gradient(top, white 0%, #EEE 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #EEE));
  background-image: -webkit-linear-gradient(top, white 0%, #EEE 100%);
  background-image: -ms-linear-gradient(top, white 0%, #EEE 100%);
  background-image: -o-linear-gradient(top, white 0%, #EEE 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#f5f5f5', endColorstr = '#eeeeee', GradientType = 0);
  background-image: linear-gradient(top, white 0%, #EEE 100%);
  border: 1px solid #E5E5E5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.subnav-fixed {
  position: fixed;
  top: 40px;
  right: 0;
/*important part*/
  left: 0;
  z-index: 1020;
/*design stuff*/
  border-color: #D5D5D5;
  border-width: 0 0 1px;
  border-radius: 0 0 0 0;
  box-shadow: 0 1px 0 #FFFFFF inset, 0 1px 5px rgba(0, 0, 0, 0.1);
}

.row .nav {
  height: 36px;
}
.navbar {
  background-color: white !important;
}



.subnav-fixed ul li a {
  margin: 0;
  padding: 0;
}


  .row .nav {
    height: 36px;
  }


  .navbar {
    background-color: white !important;
  }

.navbar .nav > li > a {
  margin: 5px;
  padding: 12px;
}

.subnav {
  line-height: 16px;
}
#zenbox_tab {
  width: 60px !important;
}


// NAV BARS


#dynasty-navbar.private {
  position: fixed;
  margin-top: -55px;
  background-color: white;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 1);

}

#nav_top_row {
  margin: 0 !important;
  padding: 0 !important;
  color: #ffffff;
  color: #ffffff;
}

#nav_bottom_row {
  ul li {
    height: 30px !important;
  }
}

.black {
  color: white;
}

.right-aligned {
  float: right;
  text-align: right;
}

.nav-bar {
  margin-top: 4px !important;
  margin-bottom: 0 !important;
  margin-left: 0;
  border: 0px;
  background-color: transparent;
}

.nav-bar li {
  padding-right: 10px;
  border-right: 0px;

}

body {
  padding-bottom: 60px;
}

.fixed_nav {
  position: fixed;
  z-index: 1000;
  width: 100%;
  max-width: 100%;
  min-width: 100%;

}

.handle {
  color: #777;
  font-size: 12px;
  cursor: move;
}

.stack > *:not(.active) {
  display: none;
}







.row {
  max-width: 1200px;
}


