/*
 *= require foundation
 *= require_self
 */
.handle { font-size: 12px; color: #777; cursor: move; }
.stack > *:not(.active) { display: none;}
#navbar {
    background-image: url("/assets/navbar_bg.png");
    background-repeat: repeat-x;
    
    a {
        font-weight: 500;
        margin-top: 10px !important;
    }

    .row.right { clear: both; }

    strong {
        display: block;
        margin: 0;
        padding: 0;
        height: 14px;
        line-height: 14px;
        bottom: 4px;
        padding-top: 25px;
        margin-top: 10px;
    }
    .signup { margin-top: 7px; margin-left: 5px; }
    .credentials {
        .col {
            padding-left: 5px;
            padding-top: 5px;
        }
        .user_remember_me, [for=user_remember_me] {
            display: inline-block;
            clear: both;
            text-align: left !important;
        }
        input.input-text {
            padding: 3;
            font-size: 11px;
        }
    }

    .welcome {
        & > * { display: inline-block; line-height: 54px; }
        padding: 4px 0;
    }
}

body { padding-bottom: 60px; }
.row { max-width: 1200px; }

div.foundation-header {
    margin: 0 0 40px 0;
    padding: 30px 0 0 0;
    border-bottom: solid 1px #ccc  !important;
}
div.foundation-header h1 {
    margin-bottom: 0;
    padding: 0;
}
div.foundation-header h1 a { color: #181818; }
div.foundation-header h1 a:hover { color: #181818; }
div.foundation-header .subheader { margin-bottom: 9px; }

div.highlight { margin-bottom: 12px; }
.success { color: #009900; }
.failure { color: #990000; }

th,td {
    text-align: center !important;
    font-size: 10px !important;
}

.rounded {
    -moz-border-radius:10px !important;
    -webkit-border-radius:10px !important;
    border: solid 1px #333;
}
.photo {
    margin: 3px;
    -moz-border-radius:10px !important;
    -webkit-border-radius:10px !important;
    border: white solid 3px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.3);
}

.stats_table {
    overflow: scroll;
    width: 500px;
}

/* rotations */
.forty_five_deg {
    -moz-transform: scale(1) rotate(45deg) translate(0px, px) skew(deg, 0deg);
    -webkit-transform: scale(1) rotate(45deg) translate(0px, px) skew(deg, 0deg);
    -o-transform: scale(1) rotate(45deg) translate(0px, px) skew(deg, 0deg);
    -ms-transform: scale(1) rotate(45deg) translate(0px, px) skew(deg, 0deg);
    transform: scale(1) rotate(45deg) translate(0px, px) skew(deg, 0deg);
}

.perpendicular {
    -moz-transform: scale(1) rotate(-90deg) translate(0px, px) skew(deg, 0deg);
    -webkit-transform: scale(1) rotate(-90deg) translate(0px, px) skew(deg, 0deg);
    -o-transform: scale(1) rotate(-90deg) translate(0px, px) skew(deg, 0deg);
    -ms-transform: scale(1) rotate(-90deg) translate(0px, px) skew(deg, 0deg);
    transform: scale(1) rotate(-90deg) translate(0px, px) skew(deg, 0deg);
}

.clean {
    border: none;
    background: none !important;
    text-align: right !important;
}

.clean li { float: right; }

#wrap {
    margin-top: 50px;
    padding-top: 50px;
}

/* useful for single-button forms */
form.inline { display: inline-block; }

.invisible { visibility: hidden; }
.hidden { display: none; }

table th {
    cursor: default;
    &.header:hover { cursor: pointer }
}
