/*
 *= require foundation/reveal
 *= require bootstrap_and_overrides
 *= require kickstrap
 *= require kickstrap/themes/simplex
 *= require jquery.ui.core
 *= require jquery.ui.theme
 *= require dataTables/jquery.dataTables
 *= require dataTables/jquery.dataTables.bootstrap
 *= require animations
 *= require animate

 *= require_self
 */



.logo {
  position: fixed;
  z-index: 5000;
  float: left;
  margin-bottom: -155px !important;
  width: 130px;
}
