/*
 *= require foundation/reveal
 *= require bootstrap_and_overrides
 *= require jquery.ui.core
 *= require jquery.ui.theme
 *= require dataTables/jquery.dataTables
 *= require dataTables/jquery.dataTables.bootstrap
 *= require animations
 *= require_self

 */

.red {
  color: red;
}
.accordion-group {
  margin-bottom: 10px;
  -webkit-border-radius: 10px;

}
.accordion-footer {
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  background: rgb(181,181,181); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(181,181,181,1) 1%, rgba(0,0,0,1) 7%, rgba(178,178,178,1) 8%, rgba(135,135,135,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(181,181,181,1)), color-stop(7%,rgba(0,0,0,1)), color-stop(8%,rgba(178,178,178,1)), color-stop(100%,rgba(135,135,135,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(181,181,181,1) 1%,rgba(0,0,0,1) 7%,rgba(178,178,178,1) 8%,rgba(135,135,135,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(181,181,181,1) 1%,rgba(0,0,0,1) 7%,rgba(178,178,178,1) 8%,rgba(135,135,135,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(181,181,181,1) 1%,rgba(0,0,0,1) 7%,rgba(178,178,178,1) 8%,rgba(135,135,135,1) 100%); /* IE10+ */
  background: linear-gradient(top,  rgba(181,181,181,1) 1%,rgba(0,0,0,1) 7%,rgba(178,178,178,1) 8%,rgba(135,135,135,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5b5b5', endColorstr='#878787',GradientType=0 ); /* IE6-9 */
}

.accordion-heading {
  -webkit-border-top-right-radius: 10px;
  -webkit-border-top-left-radius: 10px;
  background: rgb(238,238,238); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(204,204,204,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* IE10+ */
  background: linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
}
#zenbox_tab {
  width: 30px !important;
}


.navbar .nav > li > a {
  padding: 12px;

}

.subnav {
  line-height: 16px;
}

.navbar-inner {
  max-height: 40px;


  min-height: 40px;

  background: rgb(58,72,94); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(58,72,94,1) 0%, rgba(68,85,110,1) 12%, rgba(78,97,126,1) 25%, rgba(54,68,88,1) 39%, rgba(33,42,55,1) 50%, rgba(0,0,0,1) 51%, rgba(13,16,21,1) 60%, rgba(33,41,53,1) 76%, rgba(21,27,35,1) 91%, rgba(14,18,24,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(58,72,94,1)), color-stop(12%,rgba(68,85,110,1)), color-stop(25%,rgba(78,97,126,1)), color-stop(39%,rgba(54,68,88,1)), color-stop(50%,rgba(33,42,55,1)), color-stop(51%,rgba(0,0,0,1)), color-stop(60%,rgba(13,16,21,1)), color-stop(76%,rgba(33,41,53,1)), color-stop(91%,rgba(21,27,35,1)), color-stop(100%,rgba(14,18,24,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(58,72,94,1) 0%,rgba(68,85,110,1) 12%,rgba(78,97,126,1) 25%,rgba(54,68,88,1) 39%,rgba(33,42,55,1) 50%,rgba(0,0,0,1) 51%,rgba(13,16,21,1) 60%,rgba(33,41,53,1) 76%,rgba(21,27,35,1) 91%,rgba(14,18,24,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(58,72,94,1) 0%,rgba(68,85,110,1) 12%,rgba(78,97,126,1) 25%,rgba(54,68,88,1) 39%,rgba(33,42,55,1) 50%,rgba(0,0,0,1) 51%,rgba(13,16,21,1) 60%,rgba(33,41,53,1) 76%,rgba(21,27,35,1) 91%,rgba(14,18,24,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(58,72,94,1) 0%,rgba(68,85,110,1) 12%,rgba(78,97,126,1) 25%,rgba(54,68,88,1) 39%,rgba(33,42,55,1) 50%,rgba(0,0,0,1) 51%,rgba(13,16,21,1) 60%,rgba(33,41,53,1) 76%,rgba(21,27,35,1) 91%,rgba(14,18,24,1) 100%); /* IE10+ */
  background: linear-gradient(top,  rgba(58,72,94,1) 0%,rgba(68,85,110,1) 12%,rgba(78,97,126,1) 25%,rgba(54,68,88,1) 39%,rgba(33,42,55,1) 50%,rgba(0,0,0,1) 51%,rgba(13,16,21,1) 60%,rgba(33,41,53,1) 76%,rgba(21,27,35,1) 91%,rgba(14,18,24,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a485e', endColorstr='#0e1218',GradientType=0 ); /* IE6-9 */
}
.person {
  margin-bottom: 5px !important;
  border-bottom: 1px #0000000 solid !important;
}

.divider-vertical{
  margin: 0 !important;
}
#dynasty-navbar .active {
  background: rgb(246,248,249); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(246,248,249,1) 0%, rgba(229,235,238,1) 50%, rgba(215,222,227,1) 51%, rgba(245,247,249,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(246,248,249,1)), color-stop(50%,rgba(229,235,238,1)), color-stop(51%,rgba(215,222,227,1)), color-stop(100%,rgba(245,247,249,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* IE10+ */
  background: linear-gradient(top,  rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* W3C */
  color: black !important;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=0 ); /* IE6-9 */


}

.navbar-fixed-bottom .navbar-inner {
  max-height: 25px;
  max-height: 25px;
  min-height: 25px;
  background: rgb(169,3,41) !important;
  background: -moz-linear-gradient(top,  rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%)!important;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(169,3,41,1)), color-stop(44%,rgba(143,2,34,1)), color-stop(100%,rgba(109,0,25,1)))!important;
  background: -webkit-linear-gradient(top,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%)!important;
  background: -o-linear-gradient(top,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%)!important;
  background: -ms-linear-gradient(top,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%)!important;
  background: linear-gradient(top,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%)!important;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 )!important;
}

.navbar-fixed-bottom .navbar-inner .container a {
  margin: 0px;
  padding: 3px;
}
.subnav a {
  margin-top: 3px !important;
  margin-bottom: 0px !important;
  padding: 5px !important;
}
#dynasty-navbar .subnav .active {
  background: rgb(125,126,125); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(125,126,125,1) 0%, rgba(14,14,14,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(125,126,125,1)), color-stop(100%,rgba(14,14,14,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* IE10+ */
  background: linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* W3C */
  color: #FFFFFF !important;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */





}

.game .span4 {
  overflow: hidden !important;
  white-space: nowrap !important;
}
.subnav a.active {
  color: white !important;
}
.page_header {
  margin-bottom: 10px;
  border-bottom: 1px #333333 solid;
}

// datatables bootstrap

div.dataTables_length label {
  float: left;
  width: 460px;
  text-align: left;
}

div.dataTables_length select {
  width: 75px;
}

div.dataTables_filter label {
  float: right;
  width: 460px;
}

div.dataTables_info {
  padding-top: 8px;
}

div.dataTables_paginate {
  float: right;
  margin: 0;
}

table {
  clear: both;
  margin: 1em 0;
}


//fix button in navbar
.navbar .btn-group {
  margin: 0px;
  padding-top: 6px;
  padding-bottom: 6px;
}
.subnav  a {
  color: #000099 !important;

}
.dropdown-menu {
  z-index:10000000;

}
.pad-right {
  padding-right: 5px;
}

.navbar .divider-vertical {
  height: 40px;
}

.subnav {
  width: 100%;
  height: 36px;
  z-index: 6;
  background-color: #EEE;
  background-repeat: repeat-x;
  background-image: -moz-linear-gradient(top, whiteSmoke 0%, #EEE 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, whiteSmoke), color-stop(100%, #EEE));
  background-image: -webkit-linear-gradient(top, whiteSmoke 0%, #EEE 100%);
  background-image: -ms-linear-gradient(top, whiteSmoke 0%, #EEE 100%);
  background-image: -o-linear-gradient(top, whiteSmoke 0%, #EEE 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#f5f5f5', endColorstr = '#eeeeee', GradientType = 0);
  background-image: linear-gradient(top, whiteSmoke 0%, #EEE 100%);
  border: 1px solid #E5E5E5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;

  .row .nav {
    height: 36px;
  }
  .navbar {
    background-color: white !important;
  }
}

// Subnav fixed to top with this plus subnav.js
.subnav2 {
  width: 100%;
  height: 36px;
  background-color: #EEE;
  background-repeat: repeat-x;
  background-image: -moz-linear-gradient(top, whiteSmoke 0%, #EEE 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, whiteSmoke), color-stop(100%, #EEE));
  background-image: -webkit-linear-gradient(top, whiteSmoke 0%, #EEE 100%);
  background-image: -ms-linear-gradient(top, whiteSmoke 0%, #EEE 100%);
  background-image: -o-linear-gradient(top, whiteSmoke 0%, #EEE 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#f5f5f5', endColorstr = '#eeeeee', GradientType = 0);
  background-image: linear-gradient(top, whiteSmoke 0%, #EEE 100%);
  border: 1px solid #E5E5E5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;

  .row .nav {
    height: 36px;
  }
  .navbar {
    background-color: white !important;
  }
}

.show-grid {
  background-color: #666666;
}
.fixed-footer {
  position: fixed;
  right: 0;
  bottom: 40px;
  left: 0;
}
.subnav-fixed {
  position: fixed;
  top: 40px;
  right: 0;
/*important part*/
  left: 0;
  z-index: 1020;
/*design stuff*/
  border-color: #D5D5D5;
  border-width: 0 0 1px;
  border-radius: 0 0 0 0;
  box-shadow: 0 1px 0 #FFFFFF inset, 0 1px 5px rgba(0, 0, 0, 0.1);
}

.subnav-fixed2 {
  position: fixed;
  top: 80px;
  right: 0;
/*important part*/
  left: 0;
  z-index: 1020;
/*design stuff*/
  border-color: #D5D5D5;
  border-width: 0 0 1px;
  border-radius: 0 0 0 0;
  box-shadow: 0 1px 0 #FFFFFF inset, 0 1px 5px rgba(0, 0, 0, 0.1);
}

.subnav-fixed ul li a {
  margin: 0;
  padding: 0;
}

/* REFACTOR: This needs cleaned up big time. I'll try to sort it out this weekend. -Ben */
body {
  //background: url("/assets/bg_fade.jpg") no-repeat center center fixed;
  //-webkit-background-size: cover;
  //-moz-background-size: cover;
  //-o-background-size: cover;
  //background-size: cover;
  //background:
  //  -webkit-linear-gradient(63deg, #151515 5px, transparent 5px) 0 5px,
  //  -webkit-linear-gradient(243deg, #151515 5px, transparent 5px) 10px 0px,
  //  -webkit-linear-gradient(63deg, #222 5px, transparent 5px) 0px 10px,
  //  -webkit-linear-gradient(243deg, #222 5px, transparent 5px) 10px 5px,
  //  -webkit-linear-gradient(0deg, #1b1b1b 10px, transparent 10px),
  //  -webkit-linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
  //background-color: #121212;
  //background-size: 18px 18px;

}

#loginModal {
  margin-top: 160px;
}

.footer-nav {
  margin-top: 5px;
  margin-bottom: 10px;
  padding-left: 5px;
  border-top: 10px solid #333;
  -webkit-border-radius: 10px;
  background-color: #cccccc !important;
  color: white !important;
}

.footer-nav ul li a {
  color: white;
}

.large_select select {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 36px;
}

#player_detail {
  background-color: #fefefe;

}

.main_yield {
 // padding: 25px;
 // max-width: 95%;
 // min-width: 960px;
 // background-color: rgba(100%, 100%, 100%, .90);
 // box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.stats_small {
  font-size: 10px;
  line-height: 15px;
}

.main .sub {

}

.sub_header {
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 5px;
  -webkit-border-radius: 10px;
  background-color: #000055;
  color: #ffffff;
}

.white {
  color: #ffffff;
}

.align_left {
  text-align: left;
}

.large_input {
 // display: block;
 // margin-top: 10px;
 // margin-bottom: 10px;
 // font-size: 36px;
}

nice.tabs-content.contained {
  background-color: white;
}

#main_content {
  z-index: 500;
  padding-top: 75px;
}

.fixed_nav {
  position: fixed;
  z-index: 1000;
  width: 100%;
  max-width: 100%;
  min-width: 100%;

}

.handle {
  color: #777;
  font-size: 12px;
  cursor: move;
}

.stack > *:not(.active) {
  display: none;
}

.logo {
  position: fixed;
  z-index: 5000;
  float: left;
  margin-bottom: -155px !important;
  width: 130px;
}
// NAV BARS
#dynasty-navbar {


}

#dynasty-navbar.private {
  position: fixed;
  margin-top: -55px;
  background-color: white;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 1);

}

#nav_top_row {
  margin: 0 !important;
  padding: 0 !important;
  color: #ffffff;
  color: #ffffff;
}

#nav_bottom_row {
  ul li {
    height: 30px !important;
  }
}

.black {
  color: white;
}

.right-aligned {
  float: right;
  text-align: right;
}

.nav-bar {
  margin-top: 4px !important;
  margin-bottom: 0 !important;
  margin-left: 0;
  border: 0px;
  background-color: transparent;
}

.nav-bar li {
  padding-right: 10px;
  border-right: 0px;

}

body {
  padding-bottom: 60px;
}

.row {
  max-width: 1200px;
}

div.foundation-header {
  margin: 0 0 40px 0;
  padding: 30px 0 0 0;
  border-bottom: solid 1px #ccc !important;
}

div.foundation-header h1 {
  margin-bottom: 0;
  padding: 0;
}

div.foundation-header h1 a {
  color: #181818;
}

div.foundation-header h1 a:hover {
  color: #181818;
}

div.foundation-header .subheader {
  margin-bottom: 9px;
}

div.highlight {
  margin-bottom: 12px;
}

.success {
  color: #009900;
}

.failure {
  color: #990000;
}

th, td {
  text-align: center !important;
  font-size: 10px ;
}

.left {
  text-align: left !important;
  font-size: 10px !important;
}

.right {
  text-align: right !important;
  font-size: 10px !important;
}

.rounded {
  border: solid 1px #333;
  -webkit-border-radius: 10px !important;
  -moz-border-radius: 10px !important;
}

.photo {
  margin: 3px;
  border: white solid 3px;
  -webkit-border-radius: 10px !important;
  -moz-border-radius: 10px !important;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}

.stats_table {
  overflow: scroll;
  width: 500px;
}

/* rotations */
.forty_five_deg {
  -webkit-transform: scale(1) rotate(45deg) translate(0px, px) skew(deg, 0deg);
  -moz-transform: scale(1) rotate(45deg) translate(0px, px) skew(deg, 0deg);
  -o-transform: scale(1) rotate(45deg) translate(0px, px) skew(deg, 0deg);
  transform: scale(1) rotate(45deg) translate(0px, px) skew(deg, 0deg);
  -ms-transform: scale(1) rotate(45deg) translate(0px, px) skew(deg, 0deg);
}

.perpendicular {
  -webkit-transform: scale(1) rotate(-90deg) translate(0px, px) skew(deg, 0deg);
  -moz-transform: scale(1) rotate(-90deg) translate(0px, px) skew(deg, 0deg);
  -o-transform: scale(1) rotate(-90deg) translate(0px, px) skew(deg, 0deg);
  transform: scale(1) rotate(-90deg) translate(0px, px) skew(deg, 0deg);
  -ms-transform: scale(1) rotate(-90deg) translate(0px, px) skew(deg, 0deg);
}

.clean {
  border: none;
  background: none !important;
  text-align: right !important;
}

.clean li {
  float: right;
}

#wrap {
  margin-top: 50px;
  padding-top: 50px;
}

/* useful for single-button forms */
form.inline {
  display: inline-block;
}

.invisible {
  visibility: hidden;
}

table th {
  cursor: default;
  &.header:hover {
    cursor: pointer;
  }
}

/* Accordion CSS */
section {
  display: block;
}

.accordion {

}

.accordion section {
  margin: 5px;
  border-bottom: 1px solid #ccc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
  background-image: -webkit-linear-gradient(top, #fff, #eee);
  background-image: -moz-linear-gradient(top, #fff, #eee);
  background-image: -ms-linear-gradient(top, #fff, #eee);
  background-image: -o-linear-gradient(top, #fff, #eee);
  background-image: linear-gradient(top, #fff, #eee);
}

.accordion h2,
.accordion p {
  margin: 0;
}

.accordion p {
  padding: 10px;
}

.accordion h2 a {
  position: relative;
  display: block;
  padding: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #333;
  text-decoration: none;
  font: 14px/1 'Trebuchet MS', 'Lucida Sans';
}

.accordion h2 a:hover {
  background: #fff;
}

.accordion h2 + div {
  overflow: hidden;
  height: 0;
  -webkit-transition: height 0.3s ease-in-out;
  -moz-transition: height 0.3s ease-in-out;
  -o-transition: height 0.3s ease-in-out;
  transition: height 0.3s ease-in-out;
}

.accordion :target h2 a:after {
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -3px;
  border-top: 5px solid #333;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: '';
}

.accordion :target h2 + div {
  height: 250px;
}

div.sub-nav {
  position: relative;
  margin: 42px 20px 0 0;
  padding: 0;
  line-height: 32px;

  .nav-bar {
    margin: 0;
  }
  li {
    float: right;
    padding-left: 20px;
  }
}

a.current {
  color: #E91C21;
}

a.tip-icon { font-size: 1.4em; }
