@import 'tabs';

.won { color: #225c23 !important; }
.lost { color: #870000 !important; }
.roster {
    float: left;
    width: 100%;
    text-align: center;
    min-height: 200px;
}

#swap_player {
    width: 300px;
    margin-left: -150px;
    text-align: center;

    .title { margin-bottom: 20px; }
    a { display: block; }
}
