@import 'tabs';


.won { color: #225c23 !important; }
.lost { color: #870000 !important; }
.roster {
    float: left;
    width: 100%;
    text-align: center;
    min-height: 200px;
}

#swap_player {
    width: 300px;
    margin-left: -150px;
    text-align: center;

    .title { margin-bottom: 20px; }
    a { display: block; }
}

#game-review {
    text-align: center;
    white-space: nowrap;
    overflow: hidden;

    .accordion-group {
        background-color: white;
    }

    a {
        height: 22px;
        line-height: 26px;

        color: #999;
        &:hover { color: #555; }
    }
    
    .game.played {
        a {
            color: #08c;
            &:hover { color: #005580; }
        }
    }
}
