

.red {
  color: red;
}







.person {
  margin-bottom: 5px !important;
  border-bottom: 1px #0000000 solid !important;
}






.game .span4 {
  overflow: hidden !important;
  white-space: nowrap !important;
}

.page_header {
  margin-bottom: 10px;
}

// datatables bootstrap

div.dataTables_length label {
  float: left;
  width: 460px;
  text-align: left;
}

div.dataTables_length select {
  width: 75px;
}

div.dataTables_filter label {
  float: right;
  width: 460px;
}

div.dataTables_info {
  padding-top: 8px;
}

div.dataTables_paginate {
  float: right;
  margin: 0;
}

table {
  clear: both;
  //margin: 1em 0;
}





.show-grid {
  background-color: #666666;
}



/* REFACTOR: This needs cleaned up big time. I'll try to sort it out this weekend. -Ben */


#loginModal {
  /*margin-top: 160px; */
}

#footer-nav {
  border-top: solid 1px #333;
  text-align: center;
}

#footer-nav ul li a {
  text-align: center;

}

.centered {
  text-align: center;
}
.large_select select {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 36px;
}

#player_detail {
  background-color: #fefefe;

}


.main_yield {
 // padding: 25px;
 // max-width: 95%;
 // min-width: 960px;
 // background-color: rgba(100%, 100%, 100%, 1);
 // box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.stats_small {
  font-size: 10px;
  line-height: 15px;
}

.main .sub {

}

.sub_header {
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 5px;
  -webkit-border-radius: 10px;
  background-color: #000055;
  color: #ffffff;
}

.white {
  color: #ffffff;
}

.align_left {
  text-align: left;
}

.large_input {
 // display: block;
 // margin-top: 10px;
 // margin-bottom: 10px;
 // font-size: 36px;
}

nice.tabs-content.contained {
  background-color: white;
}






div.highlight {
  margin-bottom: 12px;
}

.success {
  color: #009900;
}

.failure {
  color: #990000;
}

th, td {
  text-align: center !important;

}

td .left {
  text-align: left !important;
}

td .right {
  text-align: right !important;
}

.rounded {
  border: solid 1px #333;

}

.photo {
  margin: 3px;
  border: white solid 3px;
  -webkit-border-radius: 10px !important;
  -moz-border-radius: 10px !important;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}

.stats_table {
  overflow: scroll;
  width: 500px;
}



.clean {
  border: none;
  background: none !important;
  text-align: right !important;
}

.clean li {
  float: right;
}

#wrap {
  margin-top: 50px;
  padding-top: 50px;
}

/* useful for single-button forms */
form.inline {
  display: inline-block;
}

.invisible {
  visibility: hidden;
}

table th {
  cursor: default;
  &.header:hover {
    cursor: pointer;
  }
}







a.tip-icon { font-size: 1.4em; }
