#registration-steps {
    .btn-group-wrap {
        text-align: center;

        .btn-group {
            margin: 0 auto;
            text-align: center;
            width: inherit;
            display: inline-block;
        }
    }
}
