$game-weeks-cell-size: 40px;
$game-weeks-cell-current-border-width: 3px;
$game-weeks-cell-current-border-color: #999999;
ul#game_weeks {
    display: table;
    width: 100%;
    margin: 0;
    padding: 0;

    & li {
        display: table-cell;
        text-align: center;

        &.current div { border: $game-weeks-cell-current-border-width solid $game-weeks-cell-current-border-color; }
        div {
            margin: 0 auto;
            height: $game-weeks-cell-size;
            width: $game-weeks-cell-size;
            line-height: $game-weeks-cell-size;
        }
    }
}

/* Player roster */
table.roster {
    width: 100%;

    td, th { padding: 0 inherit; }
    .controlwrap { width: 105px; }
}
