<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Dynasty Draft Demo</title>
        <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="/draft/resources/css/dynasty_theme.css">
        <script type="text/javascript" src="/draft/lib/extjs/ext-debug.js"></script>
        <script type="text/javascript" src="/draft/app.js"></script>
    </head>
<body>
    <div pub-key="pub-fb4dbf08-55b4-4c73-a401-8bfa84b459e5" sub-key="sub-92c8bd6b-cde8-11e0-8532-190f3ed4faac" ssl="off" origin="pubsub.pubnub.com" id="pubnub"></div>
    <script src="http://cdn.pubnub.com/pubnub-3.1.min.js"></script>
    <h1>Logged in as: <%= @user.email %></h1>
    <p>Your Team: <%= @your_team.name %></p>
    <p>Session Data: <%= session %></p>
    <p>User Data: <%= @user.inspect %></p>
</body>
</html>
  