:javascript
  $('#swap_player').modal({ backdrop: true, keyboard: true});



.modal.fade{ :id => "#{ defined?(id) ? id : '' }" }
  .modal-header
    %a.close{:data => {:dismiss => "modal"}}×
    - if defined? title
      %h3= title

  .modal-body
    = yield :modal_content

  .modal-footer
    = yield :modal_footer