%p Welcome to Dynasty Owner, #{@user.first_name}!
%p Dynasty Owner is a complete simulation of the ownership experience. You manage your team under actual NFL salary cap rules, using real NFL player salaries.
%p #{link_to 'Log in', @login_path} to start managing your team!
%p The Dynasty Owner Team
